:root {
  --primary: #2A93FC;
  --gray: #616161;
  --white: #fff;
  --black: #000;
  --serif: 'Aleo', serif;
  --sans-serif: 'Lato', sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--sans-serif);
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Layout ---------------------------------------------------------------------- */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  align-items: flex-start;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

figure {
  margin: 0 0 20px 0;
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* Typography ------------------------------------------------------------------ */

h1, h2, h3, h4, h5 {
  font-family: var(--serif);
}

h1 {
  margin-top: 0;
  font-size: 3rem;
}

a {
  color: var(--white);
  text-decoration: none;
}

.link {
  font-size: 2rem;
  border-bottom: 2px solid white;
  padding: 5px;
  margin-bottom: 30px;
}

.link:hover {
  background-color: var(--white);
  color: var(--primary);
  transition: all ease-in-out .3s;
}

p {
  line-height: 1.6;
  margin-top: 0;
}

.lead {
  color: var(--black);
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

figcaption {
  color: var(--black);
  font-family: 'Merriweather', serif;
  font-size: 14px;
  line-height: 1.6;
}

label {
  line-height: 1.6;
  text-transform: uppercase;
}

strong {
  font-weight: 700;
}

/* Align images ---------------------------------------------------------------- */

.align-left {
  float:left;
  margin-right:20px;
}

.align-right {
  float:right;
  margin-left:20px;
}

.slide-in {
  opacity:0;
  transition:all .5s;
}

.align-left.slide-in {
  transform:translateX(-30%) scale(0.95);
}
.align-right.slide-in {
  transform:translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity:1;
  transform:translateX(0%) scale(1);
}

/* Country content ------------------------------------------------------------- */

.content {
  padding: 30px;
  max-width: 800px;
  margin: auto;
  color: var(--gray);
  text-align: justify;
}

.grid img {
  width: 100%;
}

.content h1 {
  color: black;
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 5px solid var(--primary);
}

@media screen and (max-width: 600px) {
  .content {
    text-align: left;
  }
}

/* Intro ----------------------------------------------------------------------- */

.intro p {
  color: var(--gray);
}

.intro .lead {
  color: var(--black);
}

/* Country --------------------------------------------------------------------- */

.country {
  background-color: white;
  flex-flow: column;
}

.country .grid {
  grid-template-rows: 480px;
  grid-row-gap:  40px;
  grid-column-gap: 0;
  margin-bottom: 40px;
  max-width: 1200px;
}

.country .grid img {
  height: 480px;
  object-fit: cover;
}

/* Cover ----------------------------------------------------------------------- */

.cover {
  background-attachment: fixed;
  background-image: url('images/cover.jpg');
  background-color: rgba(0,0,0,.6);
  background-blend-mode: multiply;
  background-size: cover;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.cover h1 {
  font-weight: 600;
  padding: 20px 0;
  text-align: center;
  color: var(--white);
  font-size: 4rem;
  border-bottom: 0;
}

.cover p {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
}

.cover .content {
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .cover {
    background-attachment: scroll;
    background-position: center;
  }

  .cover h1 {
    padding: 10px 20px;
    font-size: 2rem;
  }
}

/* Animation ---------------------------------------------------------------------- */
@keyframes slide {
  0% {
    background-position: left;
  }

  50% {
    background-position: center;
  }

  100% {
    background-position: right;
  }
}
/* Map ------------------------------------------------------------------------- */

.map {
  /* background-attachment: fixed; */
  background-color: var(--gray);
  background-image: url('images/WorldConOps@2x.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.legend {
  background-image: url('images/legend.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  width: 150px;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.map h1 {
  color: white;
  font-size: 2rem;
  margin: 30px 50px;
}

@media screen and (max-width: 600px) {
  .legend {
    background-image: url('images/legend_horizontal.svg');
    background-repeat: no-repeat;
    width: 100%;
    position: static;
    height: 100px;
    grid-row: 1;
    align-self: flex-start;
    margin-top: 20px;
  }

  .map  {
    background-position: top;
    background-size: cover;
    padding: 20px;
    justify-content: flex-end;
    display: grid;
    grid-template-rows: 1fr 150px auto;
    grid-row-gap: 20px;
    animation: slide 30s infinite;
    transition: all 5s ease-in-out;
    /* min-height: 70vh; */
  }

  .map h1 {
    margin: 0;
    grid-row: 3;
  }
}

/* Map highlighted ------------------------------------------------------------- */

.map-highlighted {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.map-highlighted {
  background-color: var(--primary);
  min-height: 0;
  padding: 50px 0;
}

.map-highlighted .grid {
  text-align: center;
  width: 960px;
  margin: auto;
}

.map-highlighted h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  color: white;
}

@media screen and (max-width: 600px) {
  .map-highlighted h1  {
    margin-bottom: 0;
  }
}

.map-highlighted label {
  color: white;
}

.bangladesh {
  background-image: url('images/bangladesh.svg');
}

.car {
  background-image: url('images/car.svg');
}

.drc {
  background-image: url('images/drc.svg');
}

.iraq {
  background-image: url('images/iraq.svg');
}

.indonesia {
  background-image: url('images/indonesia.svg');
}

.libya {
  background-image: url('images/libya.svg');
}

.nigeria {
  background-image: url('images/nigeria.svg');
}

.syria {
  background-image: url('images/syria.svg');
}

.ssd {
  background-image: url('images/ssd.svg');
}

.yemen {
  background-image: url('images/yemen.svg');
}

/* Numbers cover ------------------------------------------------------------------ */

.numbers {
  background-color: rgba(0,0,0,.6);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-image: url('images/section1.jpg');
  background-size: cover;
}

.numbers h1 {
  color: var(--white);
  border-bottom-color: var(--white);
}

.numbers h2 {
  color: var(--white);
  font-size: 3rem;
  margin-bottom: 0;
}

.numbers label,
.numbers p {
  color: var(--white);
}

.numbers p {
  margin-top: 40px;
}

/* Back cover ------------------------------------------------------------------ */

.back {
  background-color: var(--primary);
  flex-flow: column;
}

.back h1 {
  text-transform: uppercase;
  color: white;
}

.back .social-link {
  margin: 10px;
  border-radius: 1000px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Section dividers ------------------------------------------------------------------ */

.section {
  background-attachment: fixed;
  background-color: rgba(0,0,0,.6);
  background-blend-mode: multiply;
  background-size: cover;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

#section1 {
  background-image: url('images/section1.jpg');
}

#section2 {
  background-image: url('images/section2.jpg');
}