<section class="country" id="ethiopia">

	<!-- Ethiopia -->
	<div class="content">
	  <h2>Ethiopia</h2>

	  <p class="lead">Ethiopia is home to the second largest refugee population on the continent, hosting more than
		900,000 refugees from South Sudan, Somalia, Sudan, Eritrea and Kenya. Unrest in parts of the country has
		also led to a surge in the number of internally displaced people.
	  </p>
	  <p>
		Irish Aid supported Trocaire’s efforts in the country by delivering 10,000 blankets, 6,000 jerry cans,
		6,000 mosquito nets, 2,800 tarpaulins and 2,000 hygiene kits together with family tents, water tanks and
		shelter toolkits totalling 119 MT.
	  </p>
	</div>

	<div class="grid grid-img grid-call-out">
	  <img src="images/ethiopia.jpg" alt="Ethiopia">
	  <div class="call-out">
		<p>The partnership between Irish Aid and UNHRD started in 2006 and has grown exponentially since then. Not
		  only is Irish Aid a partner, but also a key donor. The generous and consistent contributions, both
		  financial and in-kind, have been a crucial factor in the success of UNHRD operations.</p>
	  </div>
	</div>
  </section>