<div class="intro" id="fieldsupport">
	<h1>Field Team</h1>
	<div class="intro-avatar">
	  <img src="images/fieldteam/05_background Field Team.jpg" alt="Field Team">
	</div>
	<p class="lead">
		In 2019, the UNHRD Field Team was deployed at two sudden-onset emergencies: five field experts travelled to Mozambique in March and helped to kick-start the logistics response to Cyclone Idai; and three reached the Bahamas following Hurricane Dorian and worked on the ground for one month.  
		<br />
		In addition, UNHRD staff also travelled to Central African Republic, Democratic Republic of the Congo, Ethiopia, Jordan, Kenya, Panama, Sudan and Uganda to support in-country operations.  
	</p>
  </div>