<div class="intro" id="fieldsupport">
	<h1>Field Team</h1>
	<div class="intro-avatar">
	  <img src="images/fieldteam/05_background Field Team.jpg" alt="Field Team">
	</div>
	<p class="lead">
		In addition, UNHRD staff also travelled to Central African Republic, Democratic Republic of the Congo, Ethiopia, Jordan, Kenya, Panama, Sudan and Uganda to support in-country operations.  
	</p>
  </div>