<div class="intro">
	<h1>Capacity Strengthening </h1>
	<div class="intro-avatar">
	  <img src="images/capacity/capacity2.jpg" alt="Capacity Strengthening ">
	</div>
	<p class="lead">
	  Over the years, UNHRD Kuala Lumpur has become a key actor in supporting capacity development activities in the
	  Asia Pacific region. In 2018, through 19 classroom sessions and simulation exercises, the team
	  facilitated/co-facilitated preparedness and response related events reaching more than 2,660 local authority
	  members, university students and other humanitarian actors.
	</p>
  </div>