<section class="country" id="bahamas">
  <!-- Mozambique -->
  <div class="content">
    <h2>Mozambique</h2>

    <p class="lead">
      As Cyclone Idai made landfall in Mozambique, five members of our Field
      Team immediately headed to Beira, the port city at the epicentre of the
      crisis. The team worked in coordination with key actors and partners on
      the ground to handle cargo and install equipment.
    </p>
    <p>
      The UNHRD Field Team worked hand in hand with the UN Humanitarian Air
      Service (UNHAS) and Logistics Cluster to: receive, consolidate and
      distribute cargo; assess storage capacity; carry out warehouse management;
      and load and dispatch items for helicopter operations.
    </p>
    <p>
      The crew in Mozambique installed 17 MSUs across the country, creating
      5,400 m² of storage capacity available to the humanitarian community.
      Before leaving Mozambique, the team ensured that local staff were well
      trained to install and maintain equipment.
    </p>

    <div class="grid grid-img grid-call-out">
      <img
        src="images/fieldteam/07_Mozambique Max quote.jpg"
        alt="Max"
      />
      <div class="call-out">
        <q>
          In one day, we offloaded 450 MT of cargo from seven different planes,
          working from dusk till dawn. The airport was my home for three weeks
          following my arrival in Beira and I cannot count the number of hours I
          spent on the forklift. The guys there were hard workers, we managed to
          accomplish a lot. The air movements progressively reduced, I was
          exhausted, but we made it
        </q>
        <br />
        <p>
          - Max Cosci, UNHRD Field Team leader
        </p>
      </div>
    </div>
  </div>
</section>
