<section class="country" id="brindisi">

	<div class="content">
	  <h1>UNHRD Brindisi</h1>

	  <p class="lead">
		In 2019, UNHRD Brindisi made progress as a centre of excellence for scenario-based humanitarian training and activities. 
	  </p>
	  <p>
		Working with the WFP Emergency Division, UNHRD Brindisi co-organized and hosted a new simulation exercise built upon the hub’s unique facilities, staff expertise and partnership with local authorities and partners. This was the first of a new set of WFP corporate trainings that will now be held in Brindisi.    
	  </p>
	  <p>
		In November, the Logistics Response Team (LRT) training of the Logistics Cluster was once again held in UNHRD Brindisi with 23 participants from 15 organizations.  
	  </p>
	  <img src="images/capacity/16bis_Capacity strengthening_Brindisi.jpg" alt="UNHRD Brindisi">
	</div>

  </section>