<section class="country" id="kualalumpur">

	<div class="content">
	  <h1>UNHRD Kuala Lumpur</h1>

	  <p class="lead">
		UNHRD Kuala Lumpur has become a well-established centre for capacity building activities in Asia Pacific. In partnership with regional and local stakeholders, the hub hosts, organizes and facilitates different trainings and workshops aimed at building partners’ capacities in humanitarian supply chain. 
	  </p>
	  <p>
		On 19 – 23 August, UNHRD Kuala Lumpur hosted the third edition of the training on Pharma and Public Health Supply Chain Management in collaboration with and support of HELP Logistics, facilitating and moderating group discussions. The training aimed at introducing medical practitioners to the humanitarian medical supply chain. Forty participants from the Malaysian Ministry of Health, National Disaster Management Agency (NADMA), Health Division of the Ministry of Defence, hospitals and the private sector attended. Classroom and table top exercises included an introduction on the supply chain from demand planning to procurement, transport and warehousing.    
	  </p>
	  <img src="images/capacity/16_Capacity strengthening_KLTraining.jpg" alt="UNHRD Kuala Lumpur">
	</div>

	<!-- <div class="snapshot" style="width: 800px;">

		<div class="grid grid-2">

			<div class="icons">
			  <img src="images/training.svg" alt="Tainings" class="icon">
			  <div>
				<h1 class="number">7</h1>
				<label class="label">Trainings</label>
			  </div>
			</div>
			<div class="icons">
			  <img src="images/participants.svg" alt="Participants" class="icon">
			  <div>
				<h1 class="number">851</h1>
				<label class="label">Participants</label>
			  </div>
			</div>
	
	
		  </div>
	</div> -->

  </section>