<section class="cover" id="kualalumpur">
      <div class="content overlay-text">
        <h1>
          <img src="images/logo.svg" alt="UNHRD" class="logo">
          2019 in review
        </h1>
        <p>With new crises occurring and protracted crises increasing, 2018 was another challenging year for the
          humanitarian community. Unfortunately, this trend has become somewhat of a default setting over the past few
          years and we as humanitarians have had to adjust our own ways of working to ensure aid is delivered and
          national capacities to cope are strengthened. </p>
      </div>
      <div class="overlay"></div>
    </section>
