<section class="country" id="fieldTraining">

	<div class="content">
	  <h1>Field Trainings</h1>

	  <p class="lead">
		UNHRD staff were deployed to Greece to teach IOM’s local staff on how to install MSUs; to Jordan to train WFP Country Office staff on procurement procedures; and to Nicaragua to take part in the first Regional Simulation for Humanitarian Assistance organized by <a href="http://www.sinapred.gob.ni/" class="text-blue">SINAPRED</a>, <a href="https://www.sica.int/" class="text-blue">SICA</a> and <a href="http://www.cepredenac.org/" class="text-blue">Cepredenac</a> by installing prefab offices and ETC equipment. 
	  </p>
	  <p>
		In June, a UNHRD Field Team member led a response training in Barbados organized by <a href="https://www.facebook.com/cdemacu1/posts/the-caricom-disaster-relief-unit-cdru-today-began-its-three-day-response-trainin/2338296726445637/" class="text-blue">CDEMA</a> in partnership with WFP teaching participants how to assemble and disassemble a MSU. Myron, a participant of the training from Antigua and Barbuda, had the opportunity to quickly put in practice what he learned, as he was soon after deployed to the Bahamas to be embedded in the WFP Hurricane Dorian response team.   
	  </p>
	  <img src="images/capacity/16ter_Capacity strengthening_Barbados.jpg" alt="Training in Barbardos">
	</div>

  </section>