<sectionauto class="country" id="ireland">

	<div class="content">
		<div class="grid-auto">

			<img class="left" src="images/partnerships/D03 - Ireland.jpg" alt="Ireland">

			<h1>Ireland</h1> 
		
		</div>
	  <p class="lead">
		Irish Aid has a long-standing partnership with UNHRD and sees it as a vital partner that enables us to deliver on our policy of reducing humanitarian need. UNHRD offers a one-stop-shop for procuring, storing and delivering essential humanitarian supplies into some of the most fragile contexts. Irish Aid appreciates the excellent cooperation and assistance by UNHRD in facilitating five stock deployments on our behalf in 2020 to Serbia, DRC, Nigeria, Sudan and Ethiopia. 
	  </p>
	</div>
  </sectionauto>