<sectionauto class="country" id="malaysia">

	<div class="content">
		<div class="grid-auto">

			<img class="left" src="images/partnerships/D03 - Malaysia.jpg" alt="Malaysia">

			<h1>Malaysia</h1>
		
		</div>


	  <p class="lead">
		“Malaysia is proud to host one of the six global WFP-UNHRD hubs and to play an important role in undertaking its responsibilities towards the international community in facilitating and providing humanitarian and disaster relief assistance to countries in need. We are ready to provide full cooperation to the UN to ensure the smooth execution of its humanitarian efforts in combating the COVID-19 pandemic.”
	  </p>
	  <p class="figcaption">
		YB Dato' Sri Hishammuddin bin Hussein, Minister of Foreign Affairs of Malaysia     
	  </p>

	<div class="center">
		<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FMOFAMalaysia%2Fposts%2F2986927024731608&show_text=true&width=500" width="500" height="704" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
	  </div>

	</div>
  </sectionauto>
 