<sectionauto class="country" id="uae">

	<div class="content">
		<div class="grid-auto">

			<img class="left" src="images/partnerships/D03 - UAE.jpg" alt="UAE">

			<h1>UAE</h1> 
		
		</div>
	  <p class="lead">
		The International Humanitarian City (IHC) in Dubai hosts the largest HRD since UNHRD Network's inception in 2005. In the past 15 years, we witnessed UNHRD Network's growth in terms of partners hosted in Dubai with the support of IHC and the expansion of the facilities. The UNHRD network and the whole humanitarian community present in Dubai, in IHC, currently compose the largest Humanitarian Hub in the world. </p>
	  <p>
		In a recent meeting held last December 2020, WFP Executive Director David Beasley confirmed in his statement the cooperation between IHC and WFP, especially in emergency preparedness and response to His Highness Sheikh Mohammed bin Rashid Al Maktoum Ruler of Dubai. UNHRD and IHC have grown substantially together. We are proud not for simply hosting UNHRD, but also to have established a strong partnership that allowed the development of relevant projects such as the Humanitarian Logistics Databank which go beyond the “technical agreement”.  </p>

	  <p>
		From my position as CEO of IHC, I'm very proud of our partnership with UNHRD. I'm also very proud as former UNHRD to celebrate the 20th anniversary of UNHRD and  my wish is to see the humanitarian community reinforcing more and more the approach of “Working all together and delivering as One”, as this is the expectation in the future from my perspective as “donor” of UNHRD. 
	  </p>

	  <p class="figcaption">
		Giuseppe Saba, CEO of the International Humanitarian City
	  </p>

	</div>

  </ssectionauto>