<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="js/yemen.js"></script>
<script src="js/dubaiyemen.js"></script>
<script src="js/bangladesh.js"></script>
<script src="js/drc.js"></script>
<script src="js/idai.js"></script>
<script>
  function myFunction() {
	document.getElementById("nav").classList.toggle('open');
  }
</script>



</body>

</html>