<button onclick="myFunction()" class="toggle">
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
</button>
<nav id="nav">
  <a href="#cover">UNHRD 2019 Year in Review</a>
  <a href="#foreword">Foreword</a>
  <a href="#network">2019 Shipments</a>
  <a href="#numbers">2019 Numbers</a>
  <a href="#idai">Major Operations</a>
  <a href="#fieldsupport">Field Support</a>
  <a href="#partnerships">Partnerships</a>
  <a href="#capacity">Capacity Strengthening</a>
  <a href="#innovation">Innovation</a>
  <a href="#behindscenes">Behind the scenes</a>
</nav>