<% include _partials/_head %>
  <body>

	<!-- Main navigation, table of contents -->
	<% include _partials/_navigation %>

	<main>
		<!-- Cover -->
		<% include _sections/_cover %>

		<!-- Foreword -->
		<% include _sections/_foreword %>

		<!-- Shipments -->
		<% include _sections/_shipments %>

		<!-- UNHRD in Numbers -->
		<% include _sections/_numbers %>

		<!-- Major Operations -->
		<% include _sections/_covid19pandemic %>

		<% include _sections/_yemen %>
		

		<!-- Hub Highlights -->

		<% include _sections/_hubhighlights/_intro %>

		<% include _sections/_hubhighlights/_dubaiyemen %>

		<% include _sections/_hubhighlights/_brindisisomalia %>

		<% include _sections/_hubhighlights/_panamahurricanes %>
		
		<% include _sections/_hubhighlights/_accrasolar %>

		<% include _sections/_hubhighlights/_kualalumpur %>
		
		
		<!-- Partnerships -->

		<% include _sections/_partnerships/_intro %>

		<% include _sections/_partnerships/_globalmeeting %>

		<% include _sections/_partnerships/_partner %>

		<% include _sections/_partnerships/_brindisi %>


		<!-- Innovation -->

		<% include _sections/_innovation/_intro %>

		<% include _sections/_innovation/_coldchain %>


		<!-- Behind the Scenes -->

		<% include _sections/_behindscenes/_intro %>

		<% include _sections/_behindscenes/_nesrin %>

		<% include _sections/_behindscenes/_waiyee %>

		<% include _sections/_behindscenes/_fiifi %>

		<% include _sections/_behindscenes/_federico %>

		<% include _sections/_behindscenes/_vivek %>

		<% include _sections/_behindscenes/_desiree %>

		<% include _partials/_backcover %>

		<% include _sections/_flags %>
	</main>

<% include _partials/_footer %>
