<section class="country" id="lab">

	<div class="content">
	  <p class="lead">
		Innovation is critical for UNHRD to provide new and green supply chain solutions to improve humanitarian operations and reduce their footprint. The UNHRD Lab has been working on a temperature-controlled solution to transport specialized food and medicines, maintaining the right temperature along the journey from the warehouse to the field. To complement these endeavours, the UNHRD Lab has also worked on efficient equipment to store temperature-sensitive items in field settings.    
	  </p>
	</div>

	<div class="content" id="green">
	  <h2>New cold chain storage solutions   </h2>
	  <p>
		Since 2018, the UNHRD Lab has focused on improvements to cold chain storage solutions for field operations with a specific focus on health responses. In 2019, after completing the test phase of an inflatable refrigerated tent, the UNHRD Lab worked with the supplier to reduce costs and transport size and optimize power efficiency. This resulted in a light-weight solution that can be transported with standard pick-up trucks to be set up within a few hours in the field without expert technicians.  
	  </p>
	</div>

	<div class="grid grid-2">

		<div class="call-out-img">
		  <img src="images/innovation/18_UNHRD Lab_cold chain 2.png" alt="Cold Chain">
		</div>
  
		<div class="call-out-img">
		  <img src="images/innovation/18bis_UNHRD Lab_cold chain.png" alt="Cold Chain">
		</div>
	  </div>

	  <div class="content" id="green">  
		<p>
		  In 2019, the UNHRD Lab also worked on new cold-chain equipment for field operations, such as an insulated reefer container with solar panels (‘Suntainer’), and a new semi-permanent storage kit, integrated with a solar power system, which has since been deployed to Uganda. 
		</p>

		<div class="m-t-3 m-b-3">
			<iframe width="720" height="480" src="https://www.youtube.com/embed/YT7GSJmCdf4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
  
		<p>
		  More information on the UNHRD Lab’s projects focused on repackaging and green technologies is available <a href="https://mailchi.mp/835a4bbb9888/unhrd-newsletter-april-2019-issue-no1" class="text-blue">here</a> and <a href="https://mailchi.mp/3beb74056222/unhrd-newsletter-issue-no-2april-june-2019" class="text-blue">here</a>.   
		</p>
	  </div>

  </section>