<section class="country" id="lab">


	<div class="content" id="green">
		<p class="lead">
			At this moment in time, there are almost 13,000 family tents stocked in UNHRD warehouses across the Network. They are one of the most common relief items used by UNHRD partners to assist populations in conflict, refugees and post-disaster crises.
		  </p>

	  <p>
		With babies and newborns among the most vulnerable in these crises, and with limited relief items specifically designed for their wellbeing, the UNHRD Lab, with its suppliers, developed the “Cradle Tent” which, once the geodesic tent is taken and installed, allows for the wooden crate to be modified into a crib with rockers, a baby mattress and sheets. This newly developed relief item also includes a blanket, a pillow with accompanying cover, a changing mat and a mosquito net. There are also complementary pieces such as a teddy bear, produced with excess materials from the production of blankets, a blackboard on the internal side of the crate’s lid, with white chalk and an eraser, and a picture book. 
	  </p>
	  <p> “Cradle Tent” is a great example of UNHRD Lab’s cross-sectoral efforts in waste reduction, and using repackaging to create a circular economy. 
	</p>
	<p>The item is now available to UNHRD partners for procurement and stockpiling.</p>

	  </p>


  </section>