<section class="country" id="lab">

	<div class="content">
	  <h1>UNHRD LAB</h1>

	  <p class="lead">
		Working on challenges identified in the field by humanitarian organizations, the UNHRD LAB collaborates with
		universities and suppliers to research and develop innovative solutions for the supply chain in emergency
		response. Improving logistics support equipment, reducing waste from relief items and implementing new and
		green technologies are the main innovation efforts of the UNHRD LAB to address these challenges.
	  </p>
	</div>

	<div class="content" id="green">
	  <h2>GREEN TECHNOLOGIES</h2>
	  <p>
		Helping humanitarian organizations reduce the environmental impact of their operations is one of the
		primary focus areas of research for the UNHRD LAB. These efforts help integrating the environment into
		emergency response, contributing to filling the gap between humanitarian intervention and sustainable
		development, in line with the holistic approach of the Agenda 2030.
	  </p>
	</div>

	<div class="grid grid-2">

	  <div class="call-out">
		<h2>INTEGRATING GREEN TECHNOLOGIES</h2>
		<p>
		  The prefabricated storage tent, commonly known as mobile storage unit (MSU), is a multipurpose fundamental
		  piece of emergency logistics equipment. Given its wide use, the UNHRD LAB has engaged in researching and
		  developing solutions to further improve its efficiency and sustainability, including by integrating
		  solar, wind and hybrid power solutions.
		</p>
	  </div>

	  <div class="call-out">
		<h2>INFLATABLE REFRIGERATED TENT</h2>
		<p>
		  Sometimes, new solutions are already available on the market but may not be specifically developed for humanitarian purposes. This is the case, for example, of inflatable refrigerated tents where the UNHRD LAB has suggested the implementation of solar panels and is testing its suitability to fields settings. This activity builds on one of the very first projects of the UNHRD Lab, the Temperature Controlled Unit (TCU), and is part of a research and development series to keep foods and medicine in the field. 
		</p>
	  </div>
	</div>

	<div class="grid grid-2">

	  <div class="call-out-img">
		<img src="images/innovation/green1.jpg" alt="INTEGRATING GREEN TECHNOLOGIES">
	  </div>

	  <div class="call-out-img">
		<img src="images/innovation/inflatable1.jpg" alt="INFLATABLE REFRIGERATED TENT">
	  </div>
	</div>

	<div class="content" id="repackaging">

	  <div>
		<h2>REPACKAGING</h2>
		<p>
		  Upon realizing that 10% of what is delivered to humanitarian contexts turn into waste, the UNHRD LAB has
		  engaged in efforts to improve packaging, including by reusing it or giving it a second life. New solutions
		  under development would benefit the beneficiaries, who would receive more efficient relief items, and the
		  environment, especially in terms of what is left behind from humanitarian operations.
		</p>
	  </div>

	</div>

	<div class="grid grid-2">


	  <div class="call-out">
		<h2>SOLAR KITCHEN SET</h2>
		<p>
		  In poor or disaster areas, energy sources can be costly, scarce and unreliable and also
		  very harmful to the environment. Wood fuel in most cases requires a cumbersome collecting process. As the
		  kitchen set is one of the most delivered relief items, the UNHRD LAB is redesigning its packaging to be
		  easily turned into a solar cooker. This solution is easy-to-set-up as it requires no more than three steps
		  to set up the solar cooker in less than a minute. It is also environment-friendly as it reduces waste and
		  consumption and the effects of fossil fuels.
		</p>
	  </div>

	  <div class="call-out">
		<h2>CRADLE TENT</h2>
		<p>
		  Family tents are shipped in large wooden crates that most of the time become waste or wood fuel, both having
		  an environmental impact. As these tents are often used by families with small children, but they don’t come
		  with accessories for babies, the UNHRD LAB has redesigned the crate
		  to be used as a cradle for small children from 0 to 4 months. With a key support from the suppliers, who
		  would have to modify the proportion of the crate and include some tools, this project would add a new and
		  innovative relief item to UNHRD’s catalogue, in addition to the standard family tent.
		</p>
	  </div>
	</div>

	<div class="grid grid-2">

	  <div class="call-out-img">
		<img src="images/innovation/solar1.jpg" alt="SOLAR KITCHEN SET">
	  </div>
	  <div class="call-out-img">
		<img src="images/innovation/cradletent2.jpg" alt="Cradle Tent">
	  </div>
	</div>

  </section>