<section class="country" id="lab">

	<div class="content">
	  <h1>UNHRD Partner Portal </h1>

	  <p class="lead">
		A clear overview of activities with UNHRD is crucial for our partners. Officially launched in March 2019, the UNHRD <a href="https://partners.unhrd.org/page/partner-portal" target="_blank"  class="text-blue">Partner Portal </a> facilitates the monitoring and analysis of stocks and operations. 
	  </p>

	  <p>
		The portal is an interactive tool, where partners can access their stock report and analytics and review past shipments with the possibility to filter by hub, organization, date or timeframe, destinations and other parameters.
	  </p>

	  <p>
		The portal also works as a repository of information, such as hub and contact details, key documents (such as the standard operating procedures, the UNHRD procurement process, and the service price list), and publications including the Year in Review and factsheets. 
	  </p>

	  <img src="images/innovation/PartnerPortal_Screenshot.png" alt="Partner Portal">
	</div>

	

  </section>