<section class="country">
	<div class="content">
		<h1>Federico</h1>
	  <p>For emergency operations to succeed, efficiency is crucial; this is where Federico’s role, as a Data Scientist in Rome HQ, comes into play. Using a mix of tools (including Foundry/Dots, MySQL database and Tableau) and programming languages (including Python and SQL), Federico merges and aggregates different datasets from WFP’s internal SAP system to create dynamic tools, dashboards and reports. Throughout 2019, specific outputs included a stock rotation analysis dashboard, an automated monthly report for partners to highlight expired/expiring items, and an improved stock report that updates every hour. Through his work, Federico is carrying forward the digitalization of UNHRD business processes and contributing to informed internal and external decision-making. </p>

		<div class="grid grid-img grid-call-out">
		  <img
			src="images/behindscenes/23_Fede.jpg"
			alt="Federico" style="object-position: right"
		  />
		  <div class="call-out">
			<q>
				A real challenge of my job is to draw on multiple datasets and aggregate the information in such a way as to make it understandable and useful for UNHRD’s staff and external partners. What I enjoy most about my daily work is problem solving and working with different units to tailor the best solutions possible.
			</q>
			<br />
			<p>
			  - Federico Pula
			</p>
		  </div>
		</div>
	</div>
  </section>
