<section class="country small">
	<div class="content">
		<h1>Fiifi</h1>
	  <p>For Fiifi, it has been over 10 years of in-depth supply chain operations management with UNHRD. Fiifi is not only the Logistics Officer but also the Deputy Manager and Head of Customer Service of UNHRD Accra. His daily work includes the management of warehouse operations, exports and imports, transport contracting, shortlisting transporters and conducting the end of year inventory report. He has supported many humanitarian operations including the Ebola response in Liberia, Sierra Leone and Guinea and the emergency response in Haiti after the earthquake. Throughout his time with UNHRD Accra, he has been able to build great relationships with key partners and stakeholders, such as the customs office and freight forwarders in Ghana.  </p>

		<div class="grid grid-img grid-call-out">
		  <img
			src="images/behindscenes/22_Fiifi.jpg"
			alt="Fiifi"
			class="small"
		  />
		  <div class="call-out">
			<q>
				My greatest challenge is the delivery of emergency shipments that depend on factors beyond my control. I am always motivated when a customer comes back to say thank you as an expression of their satisfaction or when I see or hear that lives were saved because of an action that I was involved in.
			</q>
			<br />
			<p>
			  - Fiifi Kakraba-Yenyi
			</p>
		  </div>
		</div>
	</div>
  </section>
