<section class="country">
    <div class="intro">
		<h1>Behind the Scenes</h1>
		<p class="lead">
			Logistics, technology and innovation are crucial to our work but ultimately, it is about our people. How does a pharmacist or a data scientist contribute to UNHRD’s operations? And what does the work of a logistics assistant look like?
		</p>
	  </div>
</section>