<section class="country small">
      <div class="content">
		  <h1>Nesrin</h1>
		  <p>
			Time is of the essence in achieving efficient and successful emergency responses within the health supply chain. The biggest challenge of Nesrin’s job is to deliver medical supplies on time to remote locations, where infrastructure damage has occurred, or standard transport means are unavailable due to geographical or security issues.  
		  </p>

		  <div class="grid grid-img grid-call-out">
			<img
			  src="images/behindscenes/20_Nesrin.jpg"
			  alt="Nesrin"
			  class="small"
			/>
			<div class="call-out">
			  <q>
				As a medical caregiver, I have a passion to help people in need. Working in the humanitarian sector has fulfilled me and provides satisfaction each day through adding value to people who are most in need of help, either in the context of pandemic emergencies and natural or manmade disasters.
			  </q>
			  <br />
			  <p>
				- Nesrin Elgayar
			  </p>
			</div>
		  </div>
      </div>
    </section>
