<section class="country">
	<div class="content">
		<h1>WaiYee</h1>
	  <p>WaiYee has been with UNHRD for six years as a Logistics Assistant in Kuala Lumpur, managing partners’ demands for shipping, procurement and billing needs. She finds solutions when problems between sales or partners arise, for example due to stock or logistics issues. During the 2018 Sulawesi earthquake and tsunami emergency response in Palu, Indonesia, WaiYee was involved in chartered flight planning for partners’ consolidated cargo, based on offers from HQ Aviation. What she likes most about her job is solving problems and helping partners. </p>

		<div class="grid grid-img grid-call-out">
		  <img
			src="images/behindscenes/21_Waiyee.jpg"
			alt="WaiYee"
		  />
		  <div class="call-out">
			<q>
				The emergency operation that I will never forget is the Philippines Typhoon Haiyan response back in November 2013. That was when I just joined UNHRD - a whole new experience where I learnt about relief items such as MSUs, family kits and was given the opportunity to access local airports to observe cargo loading into chartered aircraft.
			</q>
			<br />
			<p>
			  - WaiYee Lee
			</p>
		  </div>
		</div>
	</div>
  </section>
