<ssectionauto class="country" id="ahacentre">

	<div class="content">

	  <div class="grid-auto">

		<img class="left" src="images/partnerships/D03 - AHA.jpg" alt="AHA Centre">

		<h1>AHA Centre</h1> 
	
	</div>
	  
	  <p class="lead">
		“It has been a privilege to work with UNHRD since 2012 when the AHA Centre was just a few months old. We have gone through thick and thin together, managing the regional stockpile of ASEAN relief items located in UNHRD Subang and mobilising relief items to affected countries in times of disasters. Our partnership has grown into working together in enhancing humanitarian logistics capacity in the ASEAN region.  </p>
	  <p>
		UNHRD has also been providing valuable technical support to the AHA Centre as we have been expanding the Disaster Emergency Logistics System for ASEAN (DELSA) that covers not only the regional stockpile in UNHRD Kuala Lumpur, but also DELSA satellite warehouses in the Philippines and Thailand. Because of the partnership and trust built over the years, we have been able to swiftly respond to disasters during difficult times such as pandemic and provide support for the COVID-19 response in ASEAN countries”. </p>

	  <p class="figcaption">
		Ms. Adelina Kamal, Executive Director of the ASEAN Coordinating Centre for Humanitarian Assistance on disaster management (AHA Centre)
	  </p>
	</div>

  </sectionauto>