<section class="country" id="partner">

	<div class="content">
	  <h1>The UN Secretary-General’s Visit to Brindisi</h1>

	  <p class="lead">
		On his first official visit to Italy since taking office, the UN Secretary-General, António Guterres, travelled to Brindisi for the 25th anniversary of the UN Global Service Centre.
	  </p>
	  <p>
		Together with the Italian Minister of Foreign Affairs and International Cooperation, H.E. Luigi Di Maio, Mr. Guterres took the opportunity to visit UNHRD’s original facilities at the Brindisi military airport. Welcomed by WFP Deputy Executive Director, Amir Abdulla, they commended WFP’s operations, services and tools for providing life-saving support to people around the world.   
	  </p>
	  <img src="images/partnerships/14_Partnership UNSG visit.jpg" alt="The UN Secretary-General’s Visit to Brindisi">

	</div>
<div class="snapshot">

	<div class="call-out">
		<strong>Group of Friends of UNHRD</strong>
		<br />
		<br />
	  <p>
		Since taking over the chairmanship of the Group of Friends of UNHRD from Italy in 2018, <strong>Spain</strong> has engaged in efforts to raise awareness on the added value of UNHRD within the global humanitarian landscape. 
	  </p>
	  <p>
		In October 2019, the Permanent Representation of Spain to the UN-agencies in Rome held, in collaboration with Italy, a brown bag lunch at the WFP Headquarters in Rome to illustrate UNHRD’s activities and discuss challenges and potential opportunities. The event was an opportunity to reflect, together with WFP member state delegates, on how to enhance the UNHRD network and its partners’ potential to deliver assistance more efficiently and effectively. 
	  </p>
	  </div>
</div>

  </section>