<section class="country" id="meeting">

	<div class="content">
	  <h1>Global Partner Meeting </h1>

	  <p class="lead">Forty-one participants from 33 organizations, representing UN agencies, governments and NGOs, gathered on 23 and 24 October for the UNHRD Global Partner Meeting 2019 hosted in Copenhagen, Denmark by our colleagues in UNICEF. This annual meetup offered once again an important opportunity to get together with partners to follow up on the action points from 2018, review stock rotation strategies, evaluate key performance indicators and overall to find solutions for stronger emergency preparedness and response. 
	  </p>
	  <p>
		The meeting included a mixture of operational discussions to identify ways to overcome challenges and increase coordination among partners, and how to effectively utilize the newly launched <a href="https://partners.unhrd.org/page/partner-portal" target="_blank" class="text-blue">Partner Portal</a> and internal dashboards. A focus session featured a presentation by the UNHRD Lab on new projects and developments with specific attention to green, cold chain solutions for field operations. 
	  </p>
	</div>

	<div class="grid grid-img">
	  <img src="images/partnerships/11_Partnership_GPM.jpg" alt="Global Partners Meeting">
	  <img src="images/partnerships/11bis_Partnership_GPM.jpg" alt="Global Partners Meeting">
	</div>

  </section>