<section class="country" id="meeting">

	<div class="content">
	  <h1>Global Partner Meeting </h1>

	  <p class="lead">Thirty-seven participants from 25 organizations gathered in Rome on 8 November for the 2018
		UNHRD Global Partner Meeting (GPM), representing UN agencies, governmental and non-governmental organizations.
		This
		was an important opportunity to engage in an open and constructive discussion with partners, in particular to
		follow up on the action points from the 2017 GPM, review customer satisfaction and explain changes made on the
		Standard Operating Procedures. Specific emphasis was put on the newly-implemented digital platform which will
		allow partners to monitor their stocks and operations.
	  </p>
	  <p>
		Partners had previously gathered in Kuala Lumpur on 25 and 26 April for the Regional Partner Meeting. This
		included a mixture of operational discussions, presentations, working groups and a panel to identify ways to
		overcome barriers to coordination between partners; identify product candidates for standardization; and a
		panel to discuss the future of relief items pre-positioning.
	  </p>
	</div>

	<div class="grid grid-img">
	  <img src="images/meeting1.jpg" alt="Global Partners Meeting">
	  <img src="images/meeting2.jpg" alt="Global Partners Meeting">
	</div>

  </section>