<section class="country" id="friends">

	<div class="content">
	  <h1>Group of Friends of UNHRD</h1>

	  <p class="lead">
		Since taking over the chairmanship of the Group of Friends of UNHRD from Italy in 2018, Spain has engaged in efforts to raise awareness on the added value of UNHRD within the global humanitarian landscape. 
	  </p>
	  <p>
		In October 2019, the Permanent Representation of Spain to the UN-agencies in Rome held, in collaboration with Italy, a brown bag lunch at the WFP Headquarters in Rome to illustrate UNHRD’s activities and discuss challenges and potential opportunities. The event was an opportunity to reflect, together with WFP member state delegates, on how to enhance the UNHRD network and its partners’ potential to deliver assistance more efficiently and effectively. 
	  </p>
	</div>
	<div class="grid grid-img m-t-3 m-b-3">
		<img src="images/partnerships/12_Partnership_Group of Friends of UNHRD.jpg" alt="Group of Friends of UNHRD">
	  <div class="call-out">

		<p>UNHRD and Spain hold a longstanding partnership. The Spanish Government has been generously supporting UNHRD to enhance its emergency preparedness and response capabilities since 2012. Addressing the 25th anniversary of the establishment of the UN Global Service Centre in Brindisi, the Director-General of Political Affairs of the Spanish Ministry of Foreign Affairs, Mr. Marcos Gómez Martínez, took the opportunity to recall this partnership. He highlighted the engagement in bringing together donors, partners and other actors to raise awareness on the importance of investing in emergency preparedness and response and on UNHRD’s role in the global humanitarian architecture. </p>
	  </div>
	</div>

  </section>