<section class="section" id="partnerships">
    <div class="overlay-text">
		<h1>UNHRD 20th Anniversary</h1>
		<p class="leadwhite">
			In June 2020, UNHRD celebrated the 20th anniversary of its establishment in Brindisi, Italy. The first hub became fully operational on 20 June 2000 with the very first air operation transporting emergency aid and a mobile hospital on behalf of the Italian Cooperation to Eritrea to assist the population caught in the border war with Ethiopia.  
</p>
		<p class="leadwhite">Through the voices of the pioneering staff working with UNHRD since day 1, we reflected on Italy and WFP’s forward-looking idea that turned into a global support network for the humanitarian community.  
		</p> 

		<p class="leadwhite"><a href="https://www.wfp.org/stories/how-one-forward-looking-idea-turned-global-support-network-humanitarians" target="_blank" class="text-blue">How One Forward Looking Idea Turned Global Support Network Humanitarians</a></p>
	  </div>
	  <div class="overlay"></div>
		</section>

