<section class="country" id="italy">
<p>
	      
</p>

<p>
	      
</p>


	<div class="center">
		<iframe width="730" height="410" src="https://www.youtube.com/embed/JqVUpdMl0uw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<div class="content">

		<div class="grid-auto">

			<img class="left" src="images/partnerships/D03 - Italy Flag.jpg" alt="Italy">

			<h1>Italy</h1> 
		
		</div>

	  <p class="lead">“Italy is very proud to host the United Nations Humanitarian Response Depot (UNHRD) in Brindisi and to be supporting the whole UNHRD network as the main donor country. In the current global scenario, characterized by sudden and unpredictable man-made and natural disasters, humanitarian needs on the rise, as well as growing obstacles in the delivery of aid, the UNHRD network represents, more than ever, a key tool in the hands of the humanitarian international community to respond rapidly and efficiently to emergencies.  
	  </p>
	  <p>
		In 2020 we celebrated the 20th anniversary of the UNHRD project, a long and exciting journey since the establishment of the first UNHRD hub in Brindisi. Since then, UNHRD has constantly expanded, counting today more than 90 partners. The UNHRD hub in Brindisi plays nowadays a vital role in international humanitarian logistics, with over 130 shipments carried out in 2020. Thanks to UNHRD Brindisi services, the Italian Cooperation is able to swiftly deliver relief and health items in all areas in the world. 
Unfortunately, demanding challenges, such as health crises, conflicts and natural disasters continue to affect the humanitarian landscape. In this context, as part of Italy’s broader engagement to strengthen its long-standing partnership with the United Nations system, the Italian Cooperation is committed to further supporting UNHRD Brindisi and the whole network and to enhance its global preparedness and response capacity.” 
	  </p>
<p> </p>
	  <p class="figcaption"> Sereni, Viceminister of Foreign Affairs and International Cooperation of Italy </p>
	</div>

  </section>

