<section class="country" id="panama">

	<div class="content">
		<div class="grid-auto">

			<img class="left" src="images/partnerships/D06 - Panama.jpg" alt="Panama">

			<h1>Panama</h1>
		
		</div>

	  <p class="lead">
	  The geographical location and climatic conditions of Panama places us as one of the countries with the best connections in the American continent, since it allows us to bridge the North with the South.  Thus, Panama is the point where the main world traffic routes cross, positioning ourselves as one of the most important logistics centers in the Western Hemisphere for stockpiling and distributing cargo at the global level. 
	  We consider the establishment in Panama of the United Nations Humanitarian Response Depot (UNHRD), one of the main international partners of the Regional Logistics Centre for Humanitarian Assistance (CLRAH), as a great advance in the country's development and well-being for the American region. In fact, from this hub multiple operations are carried out to respond to emergencies, such as in the delivery of tons of items to minimize the damage cause by COVID-19.   
	  </p>
	  <p>
		We have the privilege of hosting one of the six hub strategically located around the world in order to respond to emergencies in less than five hours, exemplified by the response to the COVID-19 pandemic where more than 818 metric tons of supplies have been moved to various parts of the region, including tents, prefabricated offices, vehicles, water purifiers and medicine.  
	  </p>

	  <p>
		Panama believes that investing in humanitarian action is a wise choice that offers us tangible and measurable results and has a proven track record of success. By supporting humanitarian response plans, we ensure that our resources are channeled to the right actors with the presence and capacity to help people in need.   
	  </p>

	  <p>
		Working together as a team is vital also since it is very difficult to predict where the next crisis will arise.   
	  </p>

	  <p>
		The benefits accrued by Panama and the region due to the presence of the UN Humanitarian Response Depot Network, in particular for the CLRAH, have been incalculable, for which we reiterate the intention of the Panamanian State to continue collaborating with WFP-UNHRD.
	  </p>

	  <img src="images/partnerships/WF130842_PAN_20200723_WFP-Elio_Rujano_9386.jpg" alt="UNHRD Panama">

	</div>

  </section>