<section class="country" id="partner">

	<div class="content">
	  <h1>Irish Aid’s Standby Partner in Accra </h1>

	  <p class="lead">
		From June to December 2019, Conor Fyans, an engineer specializing in renewable energy, was seconded from the Irish Aid Rapid Response Corps to UNHRD Accra. 
	  </p>
	  <p>
		As well as working on infrastructure projects, such as roofing and drainage improvements, Conor conducted a business case study for the installation of a grid-tied solar power system to support the hub’s switch to renewable energy, further reducing running costs and carbon footprint. Ultimately, this approach aims to provide better independence from the national grid.   
	  </p>
	  <p>
		Between 2008 and 2019, Irish Aid has deployed six staff to UNHRD Accra to cover different roles, such as a Project Manager, Engineer, Fleet Manager and Logistics Officer.  
	  </p>
	  <img src="images/partnerships/13_Partnership Irish Aid standby partner.jpg" alt="Irish Aid’s Standby Partner in Accra">
	</div>

  </section>