<sectionauto class="country" id="savethechildren">

	<div class="content">

		<div class="grid-auto">

			<img class="left" src="images/partnerships/D03 - STC.jpg" alt="Save the Children">

			<h1>Save the Children</h1> 
		
		</div>

	  
	  <p class="lead">
		Save the Children has been a partner of the UNHRD for many years now and has benefitted in the ability to use the loan and borrow scheme, both as a lender and borrower of stock.  We have also benefited over the years in the opportunities to consolidate freight for large scale emergencies, be supported by the loading and clearance of these UN flights and the ability to hold emergency stock in the UNHRD facilities which over the years has been of financial benefit vs the costs of using commercial facilities.</p>
	  <p>
		In addition the work of the innovation centre is of interest in an ever changing climate, and how as a sector we can work together to better serve people with improved design solutions for emergency items, and more recently the need to ensure that we are not creating environmental harm to countries already in crisis.  </p>


	  <p class="figcaption">
		Sue Hodgson, Head of Humanitarian Supply Chain, Save the Children International
	  </p>

	</div>

  </sectionauto>