<sectionauto class="country" id="solidariteinternational">

	<div class="content">

		<div class="grid-auto">

			<img class="left" src="images/partnerships/D03 - Solidarites.jpg" alt="Solidarite International">

			<h1>Solidarite International</h1> 
		
		</div>
	  
	  <p class="lead">
		I first met UNHRD in 2015. It has been a great way to interact with fellow colleagues involved in emergency preparedness, a real added value when sudden onset strikes. Network is always key. </p>
	  <p>
		In addition to this networking ability, UNHRD network enables middle size NGO to access proper international storage, at no cost to strengthen their ability to be first line responder as any other agency, even if capacity to invest are not has important as for bigger agencies. Finally, UNHRD is a great tool in protracted crisis response, as it ensures directly available stocks, from UNHRD partners, to allow faster international procurement through both loan & borrow and “white stock” from suppliers, stockpiled at UNHRD. Happy 20th belated anniversary to UNHRD, hoping to have soon the occasion to wish it to all UNHRD team in person.  </p>

	  <p class="figcaption">
		Marie Houel, Head of Supply Department, Solidarités International
	  </p>

	</div>

  </sectionauto>