<sectionauto class="country" id="spain">

	<div class="content">
		<div class="grid-auto">

			<img class="left" src="images/partnerships/D03 - Spain.jpg" alt="Spain">

			<h1>Spain</h1>
		
		</div>
	  
	  <p class="lead">
		The UNHRD Network is one of the pillars of the humanitarian response coordination around the world. From its creation 20 years ago to the current Covid-19 crisis, the UNHRD Network has proven to be an increasingly efficient logistics leader in any emergency. 
		Throughout these 20 years, Spain has been a solid partner of WFP. Among other contributions, Spain hosts the WFP’s logistic base in Las Palmas and supports UNHRD through contributions to the humanitarian platform in Panama and through the chairmanship of the Group of Friends of the UNHRD Network.   
	  </p>
	  <p>
		There are still many challenges along the way. We know we can improve coordination in the Humanitarian Response by ensuring greater predictability, accountability and partnership. This is the spirit of the Agenda 2030. It requires innovation and the establishment of transformative partnerships, including with the private sector and universities, that may strengthen the UNHRD Network’s capacity to fulfill its goals and, ultimately, to improve the impact of the humanitarian assistance on the beneficiaries.
	  </p>

	  <p>
		The Group of Friends has become a useful supporter of the Network by providing space for dialogue and raising awareness about the important role of the UNHRD. We will continue closely cooperating with the UNHRD in this endeavor. 
	  </p>

	  <p class="figcaption">
		Alfonso Dastis, Ambassador of Spain to Italy and Permanent Representative to FAO and WFP
	  </p>

	</div>

  </sectionauto>