<sectionauto class="country" id="switzerland">
	<div class="content">
		<div class="grid-auto">

			<img class="left" src="images/partnerships/D03 - Switzerland.jpg" alt="Switzerland">

			<h1>Switzerland</h1> 
		
		</div>

	  <p class="lead">
		Being convinced of the value of shared and common logistics services as a trigger for quick and efficient humanitarian action, SDC has been a committed supporter of UNHRD over the years and is eager to help further develop the system for the benefit of all partners who, in their diversity, represent the heart of the network. UNHRD’s services, along with its worldwide presence and the staff’s professional commitment, are also a valuable asset for SDC’s own emergency preparedness setup. In particular the loan/borrowing mechanism is a strong added value of the network and has even further potential for enhancement in the coming years. Congratulations to UNHRD for the great achievements over the past 20 years.  
	  </p>
</div>
</sectionauto>