<section class="country" id="worldvision">

	<div class="content">
		<div class="grid-auto">

			<img class="left" src="images/partnerships/D03 - World Vision.jpg" alt="World Vision">

			<h1>World Vision International</h1> 
		
		</div>
	  
	  <p class="lead">
		We live in a world where disasters and humanitarian emergencies are growing each year. When a disaster strikes, World Vision International is committed to protecting the vulnerable and providing immediate support. We aim for rapid and coordinated response in order to deliver essential services to the affected population.   
	  </p>
	  <p>
		Partnering with the United Nations Humanitarian Response Depot has played an essential and vital role in strengthening our capacity to respond faster and more efficiently to emergencies.
	  </p>

	  <p>
		During crises, the pre-position and stockpile of relief items allowed immediate dispatch of items to World Vision field offices even in some of the world’s most hostile environments. UNHRD has established solid supply chain solutions which facilitated the management of our stock and generated comprehensive and transparent reports.
	  </p>
<p>
	UNHRD not only opt to provide technical expertise but also promoted inter-agency cooperation which served and is still serving a wide range of ongoing benefits and collaborations.  
	UNHRD represent a major contribution toward the effective and rapid delivery of humanitarian aid to those we serve. 
</p>

	  <p class="figcaption">
		Micheline Ekmekjian, Emergency Logistics Advisor, World Vision International
	  </p>

	  <div class="center">
		<blockquote class="twitter-tweet"><p lang="en" dir="ltr">🙏Thank you Khalil - supporting <a href="https://twitter.com/WorldVisionUN?ref_src=twsrc%5Etfw">@WorldVisionUN</a> by prepositioning 1,3M masks and 5,3M gloves in our warehouses ready for delivery to <a href="https://twitter.com/WorldVision?ref_src=twsrc%5Etfw">@WorldVision</a>’s frontline workers against <a href="https://twitter.com/hashtag/COVID19?src=hash&amp;ref_src=twsrc%5Etfw">#COVID19</a> in 70 countries around the world. <a href="https://t.co/HeqriMHeEj">https://t.co/HeqriMHeEj</a></p>&mdash; UN Humanitarian Response Depot (@UNHRD) <a href="https://twitter.com/UNHRD/status/1276107859781128194?ref_src=twsrc%5Etfw">June 25, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	  </div>

	</div>

  </section>