<section class="country small">
	<div class="content">
		<h1>Desiree, Las Palmas</h1>
	  <p>Desiree, a Finance Assistant in Las Palmas, has been a part of the UNHRD family for seven years.</p>

		<div class="grid grid-img grid-call-out">
		  <img
			src="images/behindscenes/Behindthe scenesDesireeRodriguez.jpg"
			alt="Desiree" style="object-position: right"
			class="small"
		  />
		  <div class="call-out">
			<q>
				The Las Palmas hub is located within the port area, so there were no restrictions to the operations during the lockdown period as port operations were considered essential. The adaptation to the prevention measures was easy as our suppliers were well aware of the risks of an outbreak and there was close cooperation to avoid contagion and, fortunately, we have not suffered any cases of COVID-19 among WFP staff or the employees of our contractors. 

From my personal point of view, similar to many other WFP colleagues I have been in contact with, it was not easy to deal with lockdown living alone but the hardest part was not to be able to see my family for six months. Also, it was sad not to be able to be close to the friends that lost relatives as the restrictions banned wakes and funerals.
			</q>
			<br />
			<p>
			  - Desiree Rodriguez
			</p>
		  </div>
		</div>
	</div>
  </section>
