<section class="country small">
	<div class="content">
		<h1>Sai, Kuala Lumpur</h1>
	  <p>Sai has been with the UNHRD Kuala Lumpur hub since its inauguration in 2010. As a Logistics Officer, over the years he has worked closely with partners to support their relief efforts across numerous countries and has also served as a trainer for the hub’s capacity building programmes.</p>

		<div class="grid grid-img grid-call-out">
		  <img
			src="images/behindscenes/BehindthescenesSaiShangkerNair.png"
			alt="Sai" style="object-position: right"
			class="small"
		  />
		  <div class="call-out">
			<q>
				In the past I have supported and coordinated emergency shipments to various big crises, like Japan in 2011, Philippines in 2013, Nepal in 2015 and the current response in Bangladesh, but 2020 was an extremely challenging year. This was the one with the highest dispatch volume for the Kuala Lumpur hub, as we also contributed to the WFP Global Common Services, which had our teams working tirelessly to ensure rapid dispatches. Quick decisionmaking and prompt follow-ups were key. Working from home with limited breaks, I often worked late into the night coordinating dispatches and establishing transport contracts, ensuring cargo was booked on the earliest available flights to fulfil partner needs and requirements. For three months I was Officer in Charge, my role when the hub manager is away, adding new responsibilities during this trying period.  I contributed to finalizing and establishing the contracting for the new China hub, which was done efficiently in a remarkably short time. That was an achievement I’m proud to have been a part of!
			</q>
			<br />
			<p>
			  - Sai Shangker Nair
			</p>
		  </div>
		</div>
	</div>
  </section>
