<section class="country small">
	<div class="content">
		<h1>Ruth, Accra</h1>
	  <p>Ruth, a Ghanaian national, joined the UNHRD family in Accra in 2016 and currently serves as a Logistics Associate, working closely with UNHRD partners.</p>

		<div class="grid grid-img grid-call-out">
		  <img
			src="images/behindscenes/BehindthescenesRuthOtoo.jpg"
			alt="Ruth"
			class="small"
		  />
		  <div class="call-out">
			<q>Working from home and trying to balance work and family life was difficult until I eventually embraced it as the new normal. I saw each day come with the hope of the pandemic ending as nations and families struggled to keep loved ones alive. My team and I had to also play our part in making sure that PPEs and other supplies moved quickly to areas where they were needed most and meeting this end is what has kept me going.
			</q>
			<br />
			<p>
			  - Ruth Otoo
			</p>
		  </div>
		</div>
	</div>
  </section>
