<section class="country small">
      <div class="content">
		  <h1>Alessia, Brindisi</h1>
		  <p>
			Alessia is part of the UNHRD Customer Service team and is based in Brindisi, Italy. She has been with UNHRD for five years and during the past year has been part of the UNHRD COVID-19 cell, an ad hoc customer service desk created to provide frontline support to partners needing to procure personal protective equipment.  
		  </p>

		  <div class="grid grid-img grid-call-out">
			<img
			  src="images/behindscenes/Behindthe scenesAlessia Borreggine.jpeg"
			  alt="Alessia"
			  class="small"
			/>
			<div class="call-out">
			  <q>
				2020 was the most challenging period since I joined UNHRD. While we were working hard to support the humanitarian community during the pandemic, we were ourselves in the midst of the same emergency. From one moment to the next we began working from home, and the workload increased hugely. It took some time to adapt and adjust to the new work dynamic, including balancing a professional and private life now both happening in the same place, my home. I did find this new balance, adapting to remote work and appreciating its advantages, and then I found out that the most beautiful experience of my life had just started and that a new little life was growing within my body, and Giuseppe then became my precious Christmas gift.
			  </q>
			  <br />
			  <p>
				- Alessia Borreggine
			  </p>
			</div>
		  </div>
      </div>
    </section>
