<section class="country small">
	<div class="content">
		<h1>Vivek, Dubai, Kuala Lumpur</h1>
	  <p>Vivek began his career with WFP UAE Office in 2004 and joined UNHRD in 2007, upon the establishment of the Dubai hub. Since then, he’s played a part in almost all emergency operations, from the Indian Ocean Tsunami all the way to the ongoing COVID-19 response.</p>

		<div class="grid grid-img grid-call-out">
		  <img
			src="images/behindscenes/Behindthe scenesVivekParameswaran.jpg"
			alt="Vivek" style="object-position: right"
			class="small"
		  />
		  <div class="call-out">
			<q>
				Every part of the process is vital to the running of a hub, and I’ve always enjoyed working on implementing systems at the Dubai hub such as barcoding, which help ensure accurate inventory and in turn support decisionmaking and timely planning of operations in humanitarian emergencies. During this pandemic crisis, continuing to run a successful operation, ensuring the safety of colleagues and high-risk families, and having myself battled COVID-19 were the challenges that were met. We’ve strictly implemented COVID-19 prevention protocols including running operations with minimum staff on rotation, physical distancing, restricting access to the warehouses and regularly sanitizing facilities. In this way, we’ve ensured continuity and adaptation to the new normal.
			</q>
			<br />
			<p>
			  - Vivek Parameswaran
			</p>
		  </div>
		</div>
	</div>
  </section>
