<section class="country" id="bahamas">

	<!-- Bahamas -->
	<div class="content">
	  <h2>Accra</h2>

	  <p class="lead">
		Following up on its earlier efforts to reduce its carbon footprint and electricity consumption, in 2020 the Accra hub completed the installation of 40 kVA solar panels, supplementing the existing 24 kVA panels, and also  upgraded its lighting systems and cold room equipment. These efforts, led to a reduction in the hub’s carbon footprint, dropping to 21,000kg from January to October 2020, compared to 78,200 kg for the same period in 2019. 
	  </p>

	  <div class="content">
		<img src="images/operations/acrasolar/OperationsAccraSolar3.jpeg" alt="Acra-Solar">
	  </div>

	</div>

  </section>