<section class="country small" id="mozambique">
  <!-- Mozambique -->
  <div class="content">
    <h2>Brindisi</h2>

    <p class="lead">
      On 22 November, Somalia was hit by Cyclone Gati, the first severe weather event of enough force to be classified as a cyclone on record to hit the country. Heavy rains and strong winds triggered flash floods along coastal and inland areas, primarily in Bari region, Puntland state. 
    </p>
    <p>
      Responding to this emergency, UNHRD Brindisi delivered 14 mt of relief items on behalf of the Italian Cooperation including cholera and malnutrition kits, blankets, family tents, squatting plates, and a water purification unit.   
    </p>

    <div class="content">
      <img src="images/operations/brindisisomalia/OperationsBrindisiSomalia1.jpg" alt="UNHRD Brindisi">
    </div>
    
  </div>
</section>

