<section class="country" id="bahamas">

	<!-- Bahamas -->
	<div class="content">
	  <h2>Panama</h2>

	  <p class="lead">
		Throughout the month of November, Hurricanes Eta and Iota caused a path of destruction through parts of Central and North America and the Caribbean, causing widespread damage throughout the region, particularly impacting Nicaragua and Honduras.
	  </p>
	  <p>
		The Panama hub supported UNICEF, the Spanish Agency for International Development Cooperation (AECID), Cascos Blancos, the Pan American Health Organization (PAHO) and WFP, sending support equipment and much needed emergency supplies, including soap, blankets, jerry cans and tarpaulins as well as COVID-19 kits.
	  </p>
	  <div class="content">
		<img src="  images/operations/panama/Table.svg" alt="Table">
	  </div>
	  <div class="content">
		<img src="images/operations/panama/OperationsPanamaHurricaneSeason1.jpg" alt="UNHRD Panama">
	  </div>


	
  </section>
  