<section class="country" id="bahamas">

	<!-- Bahamas -->
	<div class="content">
	  <h2>Bahamas</h2>

	  <p class="lead">
		On 1 September, category 5 Hurricane Dorian hit the Bahamas causing devastation amongst Abaco and Grand Bahama Islands. Three members of the Field Team were immediately deployed to the Abaco Islands to install logistics equipment and contribute to WFP’s efforts in supporting the Government and the National Emergency Management Agency (NEMA).  
	  </p>
	  <p>
		Upon their arrival, eight MSUs and six prefab modules, delivered from UNHRD Panama, were rapidly installed by the team and other actors on the ground. They created a WFP Logistics Hub at Marsh Harbour Port and provided storage and office space for partners in other locations. Additionally, UNHRD Panama organized 13 deliveries by sea and air for seven partners with 81 MT of cargo.   
	  </p>

	  <div class="grid grid-img grid-call-out">
		<img src="images/fieldteam/09_Bahamas Pino quote_WFP-Elio Rujano.jpg" alt="Pino" style="object-position: right;"/>
		<div class="call-out">
		  <q>
			When Erin, Francisco and I arrived in Marsh Harbour on the Abaco Islands, the storm had passed just a few days before. We immediately started installing the equipment and at some point, we had to rush as a tropical storm was arriving and we had to complete and secure the goods before then. I spent 22 days in the Abaco Islands, and as it often happens during an emergency response, you do your best to help each other out. That’s why our team also supported WFP colleagues in their logistics operations and services.
		  </q>
		  <br />
		  <p>
			- Pino, Logistics Assistant
		  </p>
		</div>
	  </div>

	  <p>
		<small>Photos: WFP/Elio Rujano</small>
	  </p>
	</div>


  </section>