<section class="country small" id="mozambique">
  <!-- Mozambique -->
  <div class="content">
    <h2>Dubai</h2>

    <p class="lead">
      On behalf of WFP and in conjunction with the Logistics Cluster, UNHRD Dubai procured various specialized port equipment to be used in Yemen in support of the humanitarian response in-country. This equipment has helped to streamline processes to ensure the smoother dispatch of humanitarian cargo through Yemen ports.
    </p>
  </div>

    <div class="content">
      <img src="images/operations/dubaiyemen/OperationsDubaiYemen_reachstacker.jpg" alt="UNHRD Kuala Lumpur">
    </div>

  <div class="snapshot">
	  <div class="grid grid-3">

		<div class="text-center">
		  <h3 class="text-left">Weight Dispatched</h3>
		  <div id="dubaiyemenWeight" class="piechart">
			<span>
				330.3 MT
			</span>
		  </div>
		</div>
		<div class="text-center">
		  <h3 class="text-left">Volume Dispatched</h3>
		  <div id="dubaiyemenVolume" class="piechart">
			<span> 
				1,102 m<sup>3</sup>
			</span>
		  </div>
		</div>
		<div class="text-center">
		  <h3 class="text-left">Value Dispatched</h3>
		  <div id="dubaiyemenValue" class="piechart">
			<span>
				$9.65M
			</span>
		  </div>
		</div>
	  </div>

	  <div class="center">
		<div>
		  <h3>Types of Cargo (% of total weight dispatched)</h3>
		  <div id="dubaiyemenCargo" class="cargo"></div>
		</div>

</section>
