<section class="country" id="bahamas">

	<!-- Bahamas -->
	<div class="content">
	  <h2>Kuala Lumpur</h2>

	  <p class="lead">
		UNHRD Kuala Lumpur provided crucial support to partners’ responses to COVID-19 and other humanitarian efforts. In particular, throughout the year, the hub managed the delivery of over 40 million pairs of gloves for WHO. In addition, the Kuala Lumpur team also managed supply chain services, from procurement, storage and distribution, of 5,000 dignity kits on behalf of UNFPA that were distributed by IOM and UNHCR to migrants in Malaysia.
	  </p>
	  <p>
		Confirming its position as a well-established centre for capacity building activities in the Asia Pacific region, in 2020 UNHRD Kuala Lumpur successfully adapted its training expertise to the changing operational environment caused by COVID-19. The hub implemented the following trainings:
	</p>
	<p>
A four-day online “Introduction to Humanitarian Supply Chain Management” training attended by 100 participants from local and international NGOs and governmental agencies, conducted by UNHRD Kuala Lumpur in partnership with MERCY Malaysia and HELP Logistics Singapore.
</p>
<p>
A three-week online “Medical Supply Chains in the Pandemic” training attended by 19 participants, organized by UNHRD Kuala Lumpur and facilitated by HELP Logistics Singapore.
</p>
<p>
A half-day “Inter-Governmental Humanitarian Logistics Coordination During Emergency” diploma training attended by 22 participants from the Institute of Diplomacy and Foreign Relations. 
	  </p>
	  

	  <div class="content">
		<img src="images/operations/kualalampur/OperationsKualaLumpurCapacityBuildings1.jpg" alt="Acra-Solar">
	  </div>


  </section>