<section class="foreword" id="foreword">
	<div class="content">
	  <h1>Foreword</h1>
	  <p class="lead">The novel coronavirus outbreak, which began in December of 2019, quickly expanded around the globe in early 2020 and, on 11 March, COVID-19 was declared by the World Health Organization (WHO) as a pandemic. 
		
		  </p>
		  <p class="lead">
			The biggest global crisis since World War II, the COVID-19 pandemic has profoundly changed our operational environment and personal lives, pushing us beyond what anyone could have imagined. During this unprecedented emergency, UNHRD tripled its response efforts over the span of a year, supporting the global health and humanitarian response to COVID-19 and existing humanitarian responses around the world. 
			  </p>
		  <div class="grid grid-2">

		  <div>
			<p>
				This report highlights the three operational streams UNHRD was engaged in throughout 2020. In addition to providing core services for sudden-onset emergencies and protracted and complex crises, UNHRD supported partners in their response efforts amidst the pandemic and contributed to WFP’s comprehensive platform of free-to-user cargo transport services established for the COVID-19 global response.
			<p>	This platform for the humanitarian community was built on the existing UNHRD Network, where each hub was already a crucial element of the response effort in respective regions and with Brindisi serving as a global support. UNHRD hubs also provided supplementary support including procurement, transport, handling, customs clearance, and customer service were also used as delivery routes to move crucial items to the final countries of destination.      

			<p> Behind these efforts, there is a unique team of dedicated staff who once again confirmed their commitment to serve the humanitarian community and adapt to new demands. The entire UNHRD team went above and beyond the call of duty to better support partners as new and challenging needs arose during the past year, and five of them share their stories about how COVID-19 has impacted their lives in the body of this Year in Review. 
			</p>

			<p> While 2020 was dominated by COVID-19, it also marked important occasions. On June 20, 2000 an Ilyushin 76 took off from Brindisi with 36 mt of emergency aid and a mobile hospital destined for Asmara on behalf of the Italian Cooperation, to assist Eritreans caught in the border war with Ethiopia. 
			</p>

		</div>
  
		  <div>
			<P>
				That was the very first humanitarian flight managed by UNHRD which had become fully operational at the beginning of that month. Twenty years later, as travel and physical distancing restrictions made it impossible to hold official celebrations, we shared through our digital channels the stories of the pioneering staff and celebrated the forward-looking idea behind the establishment of UNHRD and its growth into a crucial resource for the humanitarian community.
			</p>
	
			<p>
				As part of WFP Supply Chain, UNHRD was also honored to celebrate the awarding of the Nobel Peace Prize to our organization for its efforts to combat hunger, its contribution to bettering conditions for peace in conflict-affected areas and for acting as a driving force in efforts to prevent the use of hunger as a weapon of war.  
			</p>

			<p>
				What we are now, and what we have achieved over the past 20 years would not have been possible without the generous engagement of our donors. That vision turned into a global model for emergency preparedness and response, a model which was further replicated by WFP to support the global COVID-19 response. UNHRD has never lived on past glories and has continuously grown from and adapted to changing operational environments. Now more than ever, as the world has irreversibly changed, we are committed to continue strengthening our mechanism, augmenting its agility and flexibility, and establishing new partnerships to develop innovative, sustainable solutions to respond to emergencies. The support of our donors remains essential in this venture, and we are thankful that we can continue to count on these important relationships. 
			</p>

		</div>
  

		</div>
	</div>

  </section>