<section class="country" id="covid19pandemic">
	<div class="intro">
	  <h1>COVID-19 Pandemic</h1>
	  <div class="intro-avatar">
		<img src="images/countries/idai.svg" alt="Mozambique, Malawi and Zimbabwe">
	  </div>
	  <p class="lead">
		The COVID-19 outbreak, which began in December 2019, rapidly spread around the world, leading to widespread movement restrictions as governments scrambled to protect their citizens and disrupting supply chains, impacting both existing humanitarian operations and the global response to the pandemic.   
	  </p>
	</div>

	<div class="content">

	  <p>
		In order to support the health and humanitarian response, WFP stepped up to offer its logistics expertise and infrastructure to establish a comprehensive platform of services to move cargo around the globe. Through the Global Humanitarian Response Plan, WFP provided these transport services at no cost to the humanitarian community.  
	  </p>
	  <p>
		UNHRD was the foundation of this platform of services. WFP built on this existing network, scaling up the already crucial support UNHRD was playing in the early stages of the response, and augmented its capacity by establishing global humanitarian hubs in an additional three strategic locations in Guangzhou, China, Johannesburg in South Africa and Liege, Belgium.   
	  </p>
	  <p>
		UNHRD hubs were used to move crucial items to the final country of destination, and provided additional support to WFP’s response including procurement, transport, handling, customs clearance, and customer service.        
	  </p>
	  
	  <div class="center">
	  <blockquote class="twitter-tweet"><p lang="en" dir="ltr">.<a href="https://twitter.com/WFP?ref_src=twsrc%5Etfw">@WFP</a> is delivering critical humanitarian aid around the world, despite mobility restrictions put in place due to <a href="https://twitter.com/hashtag/COVID19?src=hash&amp;ref_src=twsrc%5Etfw">#COVID19</a>. <br><br>See how they&#39;ve adapted their work to ensure people continue receiving the help they need. <a href="https://t.co/YnoFK1y5Ye">https://t.co/YnoFK1y5Ye</a><br><br> <a href="https://t.co/M2iYJwoj7M">pic.twitter.com/M2iYJwoj7M</a></p>&mdash; United Nations (@UN) <a href="https://twitter.com/UN/status/1271437971770802179?ref_src=twsrc%5Etfw">June 12, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	</div>

</div>


	<div class="snapshot">
	  <div class="grid grid-2">

		<div class="icons">
		  <img src="images/map.svg" alt="Countries and Overseas Territories Reached" class="icon">
		  <div>
			<h1 class="number">157</h1>
			<label class="label">Countries and Overseas Territories Reached</label>
		  </div>
		</div>
		<div class="icons">
		  <img src="images/partner.svg" alt="Partners Served" class="icon">
		  <div>
			<h1 class="number">XX</h1>
			<label class="label">Partners Served</label>
		  </div>
		</div>


	  </div>

	  <div class="grid grid-3">

		<div class="text-center">
		  <h3 class="text-left">Weight Dispatched</h3>
		  <div id="yemenWeight" class="piechart">
			<span>14,504 MT</span>
		  </div>
		</div>
		<div class="text-center">
		  <h3 class="text-left">Volume Dispatched</h3>
		  <div id="yemenVolume" class="piechart">
			<span>24,079 m<sup>3</sup></span>
		  </div>
		</div>
		<div class="text-center">
		  <h3 class="text-left">Value Dispatched</h3>
		  <div id="yemenValue" class="piechart">
			<span>$80.3M</span>
		  </div>
		</div>
	  </div>


	  <div class="call-out">
		<p>
			These include consignments managed by UNHRD to support partners’ response to COVID-19 pandemic and as part of WFP’s Global Humanitarian Response Plan.  
		  </p>
	  </div>


	</div>


  </section>