<section class="cover" id="cover">
      <div class="content overlay-text">
        <h1>
          <img src="images/logo.svg" alt="UNHRD" class="logo">
          2020 in review
        </h1>
      </div>
      <div class="overlay"></div>
    </section>
