<section class="country" id="idai">
	<div class="intro">
	  <h1>Cyclone Idai</h1>
	  <div class="intro-avatar">
		<img src="images/countries/idai.svg" alt="Mozambique, Malawi and Zimbabwe">
	  </div>
	  <p class="lead">
		Preceded by severe flooding, Cyclone Idai made landfall in Mozambique on 15 March 2019. With hundreds of thousands of displaced people also in Malawi and Zimbabwe, it is considered as one of the most damaging tropical cyclones ever recorded in the South West Indian Ocean basin.  
	  </p>
	</div>

	<div class="content">

	  <p>
		When an emergency strikes, a collaborative effort is crucial. Supporting the response in the three countries affected by Cyclone Idai, UNHRD coordinated cargo consolidation and transport pooling for 20 partners over the next six months. Most of the aid dispatched was for emergency shelter, including 61,400 tarpaulins, 29,500 blankets, 28,000 solar lights, 13,500 mosquito nets, 8,000 mats, and 3,000 kitchen sets.  
	  </p>
	  <p>
		Five members of the UNHRD Field Team were deployed to Mozambique to install equipment and work with partners on the ground. More information on this mission is available in the section <a href="#fieldsupport" class="text-blue" >Field Team</a> below.
	  </p>

	</div>


	<div class="snapshot">
	  <div class="grid grid-2">

		<div class="icons">
		  <img src="images/map.svg" alt="Countries Served" class="icon">
		  <div>
			<h1 class="number">3</h1>
			<label class="label">Countries Served</label>
		  </div>
		</div>
		<div class="icons">
		  <img src="images/partner.svg" alt="Partners Served" class="icon">
		  <div>
			<h1 class="number">20</h1>
			<label class="label">Partners Served</label>
		  </div>
		</div>


	  </div>

	  <div class="grid grid-3">

		<div class="text-center">
		  <h3 class="text-left">Weight Dispatched</h3>
		  <div id="idaiWeight" class="piechart">
			<span>1,056 MT</span>
		  </div>
		</div>
		<div class="text-center">
		  <h3 class="text-left">Volume Dispatched</h3>
		  <div id="idaiVolume" class="piechart">
			<span>3,742.7 m<sup>3</sup></span>
		  </div>
		</div>
		<div class="text-center">
		  <h3 class="text-left">Value Dispatched</h3>
		  <div id="idaiValue" class="piechart">
			<span>$4,938,207</span>
		  </div>
		</div>
	  </div>

	  <div class="grid grid-2">

		<div>
		  <h3>Types of Cargo (% of total weight dispatched)</h3>
		  <div id="idaiCargo" class="cargo"></div>
		</div>


		<div>
		  <h3>Transport type</h3>
		  <div id="idaiTransport" class="transport"></div>
		</div>

	  </div>



	  <div class="call-out">
		<p>
		  His Highness Sheikh Mohammed bin Rashid Al Maktoum, Vice-President and Prime Minister of the UAE and Ruler of Dubai, generously donated four airlifts through the <strong>International Humanitarian City (IHC)</strong> at the onset of the Cyclone Idai response.  

	  Such airlifts are made available at a moment’s notice and have afforded UNHRD the possibility to offer partners multiple free-to-user transport options for emergency operations. Over the past three years, 16 in-kind flights have been offered by IHC to UNHRD to transport partners’ cargo.  
		  </p>
	  </div>


	  <div class="grid-auto m-b-3 m-t-3">
		<img src="images/donors/who.svg" alt="WHO">
		<img src="images/donors/wfp.svg" alt="WFP">
		<img src="images/donors/save.svg" alt="Save the Children">
		<img src="images/donors/usaid.svg" alt="USAID">
		<img src="images/donors/world_vision.svg" alt="World Vision">
	  </div>

	  <div class="grid-auto m-b-3 m-t-3">
		<img src="images/donors/sdc.svg" alt="SDC">
		<img src="images/donors/irc.svg" alt="IRC">
		<img src="images/donors/ihc.jpg" alt="IHC">
		<img src="images/donors/crs.svg" alt="Catholic ReliefService">
		<img src="images/donors/care.svg" alt="Care International">
		<img src="images/donors/whl.svg" alt="Welthungerhilfe">
	  </div>

	  <div class="grid-auto m-b-3 m-t-3">
		<img src="images/donors/shelter.svg" alt="ShelterBox">
		<img src="images/donors/mercy.svg" alt="Mercy Corps">
		<img src="images/donors/lwr.svg" alt="Lutheran World Relief">
		<img src="images/donors/lions.svg" alt="Lions Club">
	  </div>

	  <div class="grid-auto m-b-3 m-t-3">
		<img src="images/donors/irish.svg" alt="Irish Aid">
		<img src="images/donors/cooperazione.svg" alt="Cooperazione Italiana">
		<img src="images/donors/concern.svg" alt="Concern Worldwide">
		<img src="images/donors/adra.jpg" alt="Adra">
		<img src="images/donors/acf_fr.svg" alt="Action Contre LaFaim">
	  </div>




	</div>


  </section>