<section class="country" id="drc">

	<div class="intro">
	  <h1>Ebola Outbreak in the <br/> Democratic Republic of the Congo </h1>
	  <div class="intro-avatar">
		<img src="images/countries/drc.svg" alt="Democratic Republic of Congo">
	  </div>
	  <p class="lead">
		In July 2019, WHO declared the Ebola Virus Disease (EVD) outbreak in the Democratic Republic of the Congo (DRC) a Public Health Emergency of International Concern (PHEIC). The DRC shares its borders with nine countries, with regular cross-border movement increasing the risk of the virus spreading. 
	  </p>
	</div>

	<div class="content">

	  <p>
		In addition to supporting partners’ efforts in the fight against EVD in the country, UNHRD boosted WFP and WHO’s regional response plan in neighbouring Uganda by managing 25 consignments (equalling 147 MT) of stocks and deploying four staff members to Kampala to provide logistics support.  
	  </p>

	</div>

	<div class="snapshot">
	  <div class="grid grid-2">

		<div class="icons">
		  <img src="images/map.svg" alt="Country Served" class="icon">
		  <div>
			<h1 class="number">1</h1>
			<label class="label">Country Served</label>
		  </div>
		</div>
		<div class="icons">
		  <img src="images/partner.svg" alt="Partners Served" class="icon">
		  <div>
			<h1 class="number">4</h1>
			<label class="label">Partners Served</label>
		  </div>
		</div>


	  </div>

	  <div class="grid grid-3">

		<div class="text-center">
		  <h3 class="text-left">Weight Dispatched</h3>
		  <div id="drcWeight" class="piechart">
			<span>
				236 MT
			</span>
		  </div>
		</div>
		<div class="text-center">
		  <h3 class="text-left">Volume Dispatched</h3>
		  <div id="drcVolume" class="piechart">
			<span> 
				892.1 m<sup>3</sup>
			</span>
		  </div>
		</div>
		<div class="text-center">
		  <h3 class="text-left">Value Dispatched</h3>
		  <div id="drcValue" class="piechart">
			<span>
				$1,005,065
			</span>
		  </div>
		</div>
	  </div>

	  <div class="grid grid-2">

		<div>
		  <h3>Types of Cargo (% of total weight dispatched)</h3>
		  <div id="drcCargo" class="cargo"></div>
		</div>


		<div>
		  <h3>Transport type </h3>
		  <div id="drcTransport" class="transport"></div>
		</div>

	  </div>

	  <div class="grid-auto m-b-3 m-t-3">
		<img src="images/donors/ocha.svg" alt="OCHA">
		<img src="images/donors/unicef.svg" alt="UNICEF">
		<img src="images/donors/wfp.svg" alt="WFP">
		<img src="images/donors/who.svg" alt="WHO">
		
	  </div>

	  <hr class="blue-border">

	  <div class="grid grid-img grid-call-out">
		<img src="images/operations/ebola/03_Iran Cooperazione Italiana.jpg" alt="Cooperazione Italiana">
		<div class="call-out">
		  <p class="m-b-3">
			In April, the <strong>Italian Cooperation</strong> donated 40 MT of medicines, shelter and WASH items to <strong>Iran</strong> valued at USD 321,000 to assist at least 11,000 people affected by the flash flooding. 
			</p>
			<p>
				Since the establishment of UNHRD in 2000, Italy has been providing the premises of the Brindisi hub, funding its expansion and covering all running costs. Italy is not only a longstanding donor, but also a key partner since the Italian Cooperation relies on UNHRD’s services for stock prepositioning and emergency operations. Confirming this longstanding partnership, the Minister of Foreign Affairs and International Cooperation (MAECI), H.E. Luigi Di Maio, visited UNHRD’s original facilities in Brindisi in December, accompanying the UN Secretary-General, Antonio Guterres, in his first official visit to Italy. In February, UNHRD and the WFP Director of Supply Chain, Jakob Kern, also welcomed the visit of Vice Minister of MAECI, Ms. Emanuela Del Re.  
			</p>
		</div>
	  </div>

	  <div class="grid grid-img grid-call-out">
		<div class="call-out">
		  <p>
			In the response to <strong>Ethiopia</strong>, <strong>Irish Aid</strong> donated 51 MT of relief items to NGO partner Concern, including 5,475 blankets, 1,100 jerry cans, 6,100 mosquito nets, 2,800 tarpaulins, 2,000 hygiene kits, 3,153 kitchen sets and shelter toolkits. 
			</p>
			<p>
				Irish Aid has had an operational partnership with UNHRD since 2006, and is a key donor that provides annual and strategic funding to support UNHRD’s development and sustainability. Over the years, Irish Aid has also deployed six staff to UNHRD Accra working on the hub optimization and green technology projects – more information on the latest standby-partner’s mission is available in the  <a href="#partnerships">Partnership</a>  section.  
			</p>
		</div>
		<img src="images/operations/ebola/04_Ethiopia_Irish Aid.jpg" alt="Irish Aid" class="small">
	  </div>



	</div>
  </section>