<section class="country" id="drc">

	<div class="intro">
	  <h1>Democratic Republic of the Congo</h1>
	  <div class="intro-avatar">
		<img src="images/countries/drc.svg" alt="Democratic Republic of Congo">
	  </div>
	  <p class="lead">
		With 13.1 million people in dire need of assistance, the Democratic Republic of the Congo
		continues to experience a complex and long-standing humanitarian crisis.
	  </p>
	</div>

	<div class="content">

	  <p>The situation has
		further deteriorated with an outbreak of ebola in North Kivu, officially declared in August 2018. With the
		virus found in an area
		with violent conflict and a record numbers of refugees and internally displaced people.
		UNHRD has supported aid organizations operating in such exceptionally complex and challenging environments to
		prevent and control the spread of the disease.
	  </p>

	</div>

	<div class="snapshot">
	  <div class="grid grid-2">

		<div class="icons">
		  <img src="images/good.svg" alt="Deliveries Dispatched" class="icon">
		  <div>
			<h1 class="number">43</h1>
			<label class="label">Deliveries Dispatched</label>
		  </div>
		</div>
		<div class="icons">
		  <img src="images/partner.svg" alt="Partners Served" class="icon">
		  <div>
			<h1 class="number">5</h1>
			<label class="label">Partners Served</label>
		  </div>
		</div>


	  </div>

	  <div class="grid grid-2">

		<div>
		  <h3>Types of Cargo (% of total weight dispatched)</h3>
		  <div id="drcCargo" class="cargo"></div>
		</div>


		<div>
		  <h3>Transport type </h3>
		  <div id="drcTransport" class="transport"></div>
		</div>

	  </div>

	  <div class="grid grid-3">

		<div class="text-center">
		  <h3 class="text-left">Weight Dispatched</h3>
		  <div id="drcWeight" class="piechart">
			<span>
				454.2 MT
			</span>
		  </div>
		</div>
		<div class="text-center">
		  <h3 class="text-left">Volume Dispatched</h3>
		  <div id="drcVolume" class="piechart">
			<span> 
				3,089 m<sup>3</sup>
			</span>
		  </div>
		</div>
		<div class="text-center">
		  <h3 class="text-left">Value Dispatched</h3>
		  <div id="drcValue" class="piechart">
			<span>
				$2,952,975
			</span>
		  </div>
		</div>
	  </div>

	  <div class="grid-auto m-b-3 m-t-3">
		<img src="images/donors/cooperazione.svg" alt="Cooperazione Italiana">
		<img src="images/donors/fao.svg" alt="FAO">
		<img src="images/donors/unhcr.svg" alt="UNHCR">
		<img src="images/donors/wfp.svg" alt="WFP">
		<img src="images/donors/who.svg" alt="WHO">
		
	  </div>

	</div>
  </section>