<section class="country small" style="background-color: var(--primary);">
	<div class="content call-out">
		<p class="">Generously supported by:</p>
		<img src="images/flags.png" alt="Donors" style="height: 30px !important">
	</div>
</section>