<section class="foreword" id="foreword">
	<div class="content">
	  <h1>Foreword</h1>
	  <p class="lead">Cyclone Idai in Mozambique, Hurricane Dorian in the Bahamas, the crisis across the Sahel, and the earthquake in Albania; the protracted Ebola virus outbreak in DRC and the continuing crises in Yemen, South Sudan, Nigeria and Bangladesh. Every year-end, it is difficult to look back at the past twelve months and recount what we achieved by listing humanitarian crises, especially when so many of these are the same as the year before. It still gives some solace to scroll through our figures and realize that UNHRD has again played an important role; we delivered life-saving aid and support equipment that kick-started responses or helped move them forward, and the UNHRD Field Team was deployed to provide direct support on the ground. </p>
		<div class="grid grid-2">

		  <div>
			<p>
				Responding to crises in these volatile environments and complex settings becomes more challenging each year. That is why it is our duty to constantly review and adapt our work to meet the increasing needs. Supporting humanitarian partners by enhancing logistics collaboration and coordination is what we have been doing for the past two decades since our establishment in 2000. This would not have been possible without the continuous engagement of our donors who generously embraced the growth and development of the UNHRD network. Their support is what allows us to uphold our mandate of storing humanitarian items at no cost. 
			</p>
	
			<p>
				Because that’s what UNHRD is all about – having prepositioned stocks ready to be delivered wherever and whenever they are needed. For 2019, we calculated that those organizations who used UNHRD’s storage services saved USD 5.63 million, as opposed to using the commercial sector. At the same time, our donors have also allowed us to expand our service enabling us to meet the different needs of our now 90 partners.   
			</p>
		  </div>
  
		  <div>
			<P>
				In 2019, UNHRD focused on improving tools to allow partners a greater visibility of their stocks and operations through the newly launched <a href="https://partners.unhrd.org/page/partner-portal" class="text-blue" target="_blank" >Partner Portal</a>, enabling greater transparency and accountability. In addition, innovative thinking at the UNHRD Lab has provided partners with tailored equipment, such as new cold chain storage solutions for specialized food and medicines for disease outbreak responses.  
			</p>
	
			<p>
				From our desks to the field, at UNHRD teamwork matters. Throughout 2019, in addition to deployments of the Field Team to support emergency operations, UNHRD staff were deployed to 11 countries to support logistics and training activities - you will read about a few of these missions here. This report also highlights capacity building activities in Kuala Lumpur and Brindisi, key logistics training centres in their respective regions. However, no single delivery could have been done without our colleagues dealing with important back-office functions. We are therefore once again highlighting some of our colleagues who, while behind the scenes, are at the core of our business.  
			</p>


		  </div>
  

		</div>
	</div>

  </section>