<section class="country" id="idai">
	<div class="intro">
	  <h1>Cyclone Idai</h1>
	  <div class="intro-avatar">
		<img src="images/countries/yemen.svg" alt="Yemen">
	  </div>
	  <p class="lead">
		Preceded by severe deadly flooding, Cyclone Idai made landfall in Mozambique on 15 March 2019. With hundreds of thousands of displaced people also in Malawi and Zimbabwe, it is considered as one of the most damaging tropical cyclones ever recorded in the South West Indian Ocean basin.  
	  </p>
	</div>

	<div class="content">

	  <p>
		When an emergency strikes, a collaborative effort is crucial. Supporting the response in the three countries affected by Cyclone Idai, UNHRD coordinated cargo consolidation and transport pooling for 20 partners over the next six months. Most of the aid dispatched was for emergency shelter, including 61,400 tarpaulins, 29,500 blankets, 28,000 solar lights, 13,500 mosquito nets, 8000 mats, and 3,000 kitchen sets.  
	  </p>
	  <p>
		Five members of the UNHRD Field Team were deployed to Mozambique to install equipment and work with partners on the ground. More information on this mission is available in the section TEAMS IN THE FIELD below
	  </p>

	</div>


	<div class="snapshot">
	  <div class="grid grid-2">

		<!-- <h3>Map of Operations</h3>
					<img src="images/yemenMap.png" alt="Map of Operations" class="map"> -->

		<div class="icons">
		  <img src="images/good.svg" alt="Deliveries Dispatched" class="icon">
		  <div>
			<h1 class="number">12</h1>
			<label class="label">Deliveries Dispatched</label>
		  </div>
		</div>
		<div class="icons">
		  <img src="images/partner.svg" alt="Partners Served" class="icon">
		  <div>
			<h1 class="number">4</h1>
			<label class="label">Partners Served</label>
		  </div>
		</div>


	  </div>

	  <div class="grid grid-2">

		<div>
		  <h3>Types of Cargo (% of total weight dispatched)</h3>
		  <div id="yemenCargo" class="cargo"></div>
		</div>


		<div>
		  <h3>Transport type</h3>
		  <div id="yemenTransport" class="transport"></div>
		</div>

	  </div>

	  <div class="grid grid-3">

		<div class="text-center">
		  <h3 class="text-left">Weight Dispatched</h3>
		  <div id="yemenWeight" class="piechart">
			<span>167.6 MT</span>
		  </div>
		</div>
		<div class="text-center">
		  <h3 class="text-left">Volume Dispatched</h3>
		  <div id="yemenVolume" class="piechart">
			<span>609.4 m<sup>3</sup></span>
		  </div>
		</div>
		<div class="text-center">
		  <h3 class="text-left">Value Dispatched</h3>
		  <div id="yemenValue" class="piechart">
			<span>$1,443,943</span>
		  </div>
		</div>
	  </div>

	  <div class="grid grid-img grid-call-out">
		<img src="images/operations/ebola/03_Iran Cooperazione Italiana.jpg" alt="Cooperazione Italiana">
		<div class="call-out">
		  <p>
			His Highness Sheikh Mohammed bin Rashid Al Maktoum, Vice-President and Prime Minister of the UAE and Ruler of Dubai, generously donated four airlifts through the International Humanitarian City (IHC) at the onset of Cyclone Idai response.  

		Such airlifts are made available at a moment’s notice and have afforded UNHRD the possibility to offer partners multiple free-to-user transport options for emergency operations. Over the past three years, 16 in-kind flights have been offered by IHC to UNHRD to transport partners’ cargo.  
			</p>
		</div>
	  </div>

	  <!-- <h3 class="text-left">Donors</h3> -->

	  <div class="grid-auto m-b-3 m-t-3">
		<img src="images/donors/care.svg" alt="Care International">
		<img src="images/donors/iom.svg" alt="IOM">
		<img src="images/donors/wfp.svg" alt="WFP">
		<img src="images/donors/who.svg" alt="WHO">
		
	  </div>



	</div>


  </section>