<section class="numbers" id="numbers">
	<div class="content">
	  <h1>UNHRD 2018 numbers</h1>


	  <div class="grid grid-2">

		<div class="value">
		  <h2>57,762,701</h2>
		  <label for="">Value of goods dispatched (USD)</label>
		</div>

		<div class="business">
		  <h2>40,467,932</h2>
		  <label for="">value of services provided</label>
		</div>

	  </div>

	  <div class="grid grid-2 grid-3">
		<div class="volume">
		  <h2>31,943</h2>
		  <label for="">Volume dispatched (M3)</label>
		</div>

		<div class="weight">
		  <h2>6,526</h2>
		  <label for="">Weight dispatched (MT)</label>
		</div>

		<div class="procurement">
		  <h2>44.8 M</h2>
		  <label for="">USD procured for partners</label>
		</div>
	  </div>

	  <div class="grid grid-3">
		<div class="shipments">
		  <h2>567</h2>
		  <label for="">Shipments</label>
		</div>

		<div class="partners">
		  <h2>35</h2>
		  <label for="">Partners served</label>
		</div>



		<div class="countries">
		  <h2>93</h2>
		  <label for="">Countries reached</label>
		</div>

	  </div>
	</div>

  </section>