<section class="numbers" id="numbers">
	<div class="content overlay-text">
	  <h1>UNHRD 2020 Numbers</h1>


	  <div class="grid grid-2">

		<div class="value">
		  <h2>135.7 <small>million</small></h2>
		  <label for="">Value of goods dispatched (USD)</label>
		</div>

		<div class="business">
		  <h2>72.3 <small>million</small></h2>
		  <label for="">Value of services provided (USD)</label>
		</div>

	  </div>

	  <div class="grid grid-2 grid-3">
		<div class="volume">
		  <h2>79,600 </h2>
		  <label for="">Volume dispatched (M<sup>3</sup>)</label>
		</div>

		<div class="weight">
		  <h2>17,784</h2>
		  <label for="">Weight dispatched (MT)</label>
		</div>

		<div class="procurement">
		  <h2>40.9 <small>million</small></h2>
		  <label for="">VALUE OF GOODS PROCURED (USD)</label>
		</div>
	  </div>

	  <div class="grid grid-3">
		<div class="shipments">
		  <h2>1,699</h2>
		  <label for="">Consignments</label>
		</div>

		<div class="partners">
		  <h2>44</h2> 
		  <label for="">Partners served</label>
		</div>



		<div class="countries">
		  <h2>164</h2>
		  <label for="">Countries reached</label>
		</div>

	  </div>
	</div>
	<div class="overlay"></div>
  </section>