<section class="numbers" id="numbers">
	<div class="content">
	  <h1>UNHRD 2019 Numbers</h1>


	  <div class="grid grid-2">

		<div class="value">
		  <h2>63,392,307</h2>
		  <label for="">Value of goods dispatched (USD)</label>
		</div>

		<div class="business">
		  <h2>61,649,115</h2>
		  <label for="">Value of services provided (USD)</label>
		</div>

	  </div>

	  <div class="grid grid-2 grid-3">
		<div class="volume">
		  <h2>56,340</h2>
		  <label for="">Volume dispatched (M3)</label>
		</div>

		<div class="weight">
		  <h2>10,352</h2>
		  <label for="">Weight dispatched (MT)</label>
		</div>

		<div class="procurement">
		  <h2>41,000,000</h2>
		  <label for="">USD goods procured</label>
		</div>
	  </div>

	  <div class="grid grid-3">
		<div class="shipments">
		  <h2>567</h2>
		  <label for="">Consignments</label>
		</div>

		<div class="partners">
		  <h2>41</h2> 
		  <label for="">Partners served</label>
		</div>



		<div class="countries">
		  <h2>84</h2>
		  <label for="">Countries reached</label>
		</div>

	  </div>
	</div>

  </section>