<section class="country" id="yemen">
	<div class="intro">
	  <h1>Yemen</h1>
	  <div class="intro-avatar">
		<img src="images/countries/yemen.svg" alt="Yemen">
	  </div>
	  <p class="lead">
		In 2018, the Yemen crisis hit the headlines as the world’s worst humanitarian crisis. Since
		March 2015, the conflict has exacerbated the already precarious situation in Yemen – the poorest country in
		the Arab world.
	  </p>
	</div>

	<div class="content">

	  <p>Against this backdrop, Yemen also faced the worst cholera outbreak of 2017 with more than one million suspected cases reported by the end of December and a new acceleration in
		September 2018. UNHRD has supported partner organizations in their logistics and relief efforts especially by
		dispatching prefabricated mobile tents to increase the warehousing capacity for the humanitarian community
		operating in the country.
	  </p>

	</div>


	<div class="snapshot">
	  <div class="grid grid-2">

		<!-- <h3>Map of Operations</h3>
					<img src="images/yemenMap.png" alt="Map of Operations" class="map"> -->

		<div class="icons">
		  <img src="images/good.svg" alt="Deliveries Dispatched" class="icon">
		  <div>
			<h1 class="number">12</h1>
			<label class="label">Deliveries Dispatched</label>
		  </div>
		</div>
		<div class="icons">
		  <img src="images/partner.svg" alt="Partners Served" class="icon">
		  <div>
			<h1 class="number">4</h1>
			<label class="label">Partners Served</label>
		  </div>
		</div>


	  </div>

	  <div class="grid grid-2">

		<div>
		  <h3>Types of Cargo (% of total weight dispatched)</h3>
		  <div id="yemenCargo" class="cargo"></div>
		</div>


		<div>
		  <h3>Transport type</h3>
		  <div id="yemenTransport" class="transport"></div>
		</div>

	  </div>

	  <div class="grid grid-3">

		<div class="text-center">
		  <h3 class="text-left">Weight Dispatched</h3>
		  <div id="yemenWeight" class="piechart">
			<span>167.6 MT</span>
		  </div>
		</div>
		<div class="text-center">
		  <h3 class="text-left">Volume Dispatched</h3>
		  <div id="yemenVolume" class="piechart">
			<span>609.4 m<sup>3</sup></span>
		  </div>
		</div>
		<div class="text-center">
		  <h3 class="text-left">Value Dispatched</h3>
		  <div id="yemenValue" class="piechart">
			<span>$1,443,943</span>
		  </div>
		</div>
	  </div>

	  <!-- <h3 class="text-left">Donors</h3> -->

	  <div class="grid-auto m-b-3 m-t-3">
		<img src="images/donors/care.svg" alt="Care International">
		<img src="images/donors/iom.svg" alt="IOM">
		<img src="images/donors/wfp.svg" alt="WFP">
		<img src="images/donors/who.svg" alt="WHO">
		
	  </div>



	</div>


  </section>