<section class="country" id="yemen">
	<div class="intro">
	  <h1>Yemen</h1>
	  <div class="intro-avatar">
		<img src="images/countries/yemen.svg" alt="Yemen">
	  </div>
	  <p class="lead">
		The humanitarian crisis in Yemen remains one of the worst in the world. Nearly five years of conflict have pushed parts of the country to the brink of starvation, exacerbating needs in all sectors.  
	  </p>
	</div>

	<div class="content">

	  <p>
		To scale up humanitarian activities in Yemen and meet the increased needs, WFP and the World Health Organisation (WHO) signed a strategic partnership agreement in 2019. In line with this, UNHRD stored temperature-sensitive medical and laboratory kits in Dubai, and arranged transportation by sea and land for cholera and other medical kits from WHO’s hub in Dubai to its warehouses in Yemen.  
	  </p>

	  <p>
		UNHRD also managed the delivery of 608 mobile storage units (MSUs) to WFP Yemen, providing 183,000 m² of warehouse capacity. If installed side by side, these would make up 18 km of a two-lane highway.   
	  </p>

	</div>


	<div class="snapshot">
	  <div class="grid grid-2">

		<!-- <h3>Map of Operations</h3>
					<img src="images/yemenMap.png" alt="Map of Operations" class="map"> -->

		<div class="icons">
		  <img src="images/map.svg" alt="Countries Served" class="icon">
		  <div>
			<h1 class="number">1</h1>
			<label class="label">Country Served</label>
		  </div>
		</div>
		<div class="icons">
		  <img src="images/partner.svg" alt="Partners Served" class="icon">
		  <div>
			<h1 class="number">5</h1>
			<label class="label">Partners Served</label>
		  </div>
		</div>


	  </div>

	  <div class="grid grid-3">

		<div class="text-center">
		  <h3 class="text-left">Weight Dispatched</h3>
		  <div id="yemenWeight" class="piechart">
			<span>2,396 MT</span>
		  </div>
		</div>
		<div class="text-center">
		  <h3 class="text-left">Volume Dispatched</h3>
		  <div id="yemenVolume" class="piechart">
			<span>8,607.2 m<sup>3</sup></span>
		  </div>
		</div>
		<div class="text-center">
		  <h3 class="text-left">Value Dispatched</h3>
		  <div id="yemenValue" class="piechart">
			<span>$9,292,38</span>
		  </div>
		</div>
	  </div>

	  <div class="grid grid-2">

		<div>
		  <h3>Types of Cargo (% of total weight dispatched)</h3>
		  <div id="yemenCargo" class="cargo"></div>
		</div>


		<div>
		  <h3>Transport type</h3>
		  <div id="yemenTransport" class="transport"></div>
		</div>

	  </div>

	  

	  <!-- <h3 class="text-left">Donors</h3> -->

	  <div class="grid-auto m-b-3 m-t-3">
		<img src="images/donors/ihc.jpg" alt="IHC">
		<img src="images/donors/iom.svg" alt="IOM">
		<img src="images/donors/undp.svg" alt="UNDP">
		<img src="images/donors/wfp.svg" alt="WFP">
		<img src="images/donors/who.svg" alt="WHO">
		
	  </div>



	</div>


  </section>