<section class="country" id="Lebanon">
	<div class="intro">
	  <h1>Beirut</h1>
	  <div class="intro-avatar">
		<img src="images/countries/yemen.svg" alt="Yemen">
	  </div>
	  <p class="lead">
		On 4 August 2020, a massive explosion at the Port of Beirut, Lebanon devastated part of the city causing over 200 deaths, 6,500 injuries and leaving an estimated 300,000 people homeless.  
	  </p>
	</div>

	<div class="content">

	  <p>
		Within 24 hours, upon request of the Italian Cooperation, the team at UNHRD Brindisi prepared 8.5 mt of emergency health  supplies and trauma and surgical kits for urgent dispatch to Beirut, with items arriving within 48 hours of the blast.   
	  </p>

	  <p>
		In the following three days, the Brindisi hub managed three air rotations to deliver 18 mobile storage units (MSU)     along with generators and support tools as part of WFP’s  logistics support to the Government of Lebanon.    
	  </p>

	  <p>
		In the three months following the explosion, the Network managed a total of 13 shipments to Lebanon on behalf of six partners, delivering a total of 113 mt of relief items for the Italian Cooperation, the Australian Government , Cascos Blancos and the World Health Organization, as well as tools and equipment for the United Nations Development Programme. 
	  </p>

	  <div class="grid grid-img grid-call-out">
		<img src="images/operations/ebola/Field Team - Beirut.jpg" alt="Beirut Port">
		<div class="call-out">
		  <p>
				The UNHRD Field Team was deployed on the ground within days. They worked together with the WFP Lebanon office to identify appropriate space for the installation of support equipment, including the provision of technical support for the layout and workplans. In three weeks, the team, with local support, managed to install 12 mobile storage units that served to hold in-transit cargo, mitigating port congestion.
			</p>
		</div>
	  </div>

	  <hr class="blue-border">
	  
	  <div class="grid grid-2">
	  <div class="center">
		<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Destination: <a href="https://twitter.com/hashtag/Beirut?src=hash&amp;ref_src=twsrc%5Etfw">#Beirut</a> <br><br>✈️ 8.5 mt of surgical and trauma kits made their way today from the <a href="https://twitter.com/UNHRD?ref_src=twsrc%5Etfw">@UNHRD</a> in Italy to Lebanon.<br><br>💙 WFP stands by the people of Lebanon during this challenging time. <a href="https://twitter.com/ItalyMFA?ref_src=twsrc%5Etfw">@ItalyMFA</a><a href="https://twitter.com/cooperazione_it?ref_src=twsrc%5Etfw">@cooperazione_it</a> <a href="https://t.co/DKJHqfqTRb">pic.twitter.com/DKJHqfqTRb</a></p>&mdash; World Food Programme (@WFP) <a href="https://twitter.com/WFP/status/1291394728664211456?ref_src=twsrc%5Etfw">August 6, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	  </div>

	  <div class="center">
		<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Our teams are working around the clock, providing logistics support &amp; supply chain expertise to augment <a href="https://twitter.com/hashtag/BeirutPort?src=hash&amp;ref_src=twsrc%5Etfw">#BeirutPort</a> facilities.<br><br>Mobile storage units were airlifted to <a href="https://twitter.com/hashtag/Beirut?src=hash&amp;ref_src=twsrc%5Etfw">#Beirut</a> from the <a href="https://twitter.com/UNHRD?ref_src=twsrc%5Etfw">@UNHRD</a> in Italy, as a temporary storage solution to replace the destroyed silos. 🎦⤵️ <a href="https://t.co/N7sFCXuu6E">pic.twitter.com/N7sFCXuu6E</a></p>&mdash; World Food Programme (@WFP) <a href="https://twitter.com/WFP/status/1292871273966710787?ref_src=twsrc%5Etfw">August 10, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	  </div>
	</div>
	</div>

<p>
	<div class="snapshot">
	  <div class="grid grid-3">

		<div class="text-center">
		  <h3 class="text-left">Weight Dispatched</h3>
		  <div id="drcWeight" class="piechart">
			<span>
				101 MT
			</span>
		  </div>
		</div>
		<div class="text-center">
		  <h3 class="text-left">Volume Dispatched</h3>
		  <div id="drcVolume" class="piechart">
			<span> 
				461.1 m<sup>3</sup>
			</span>
		  </div>
		</div>
		<div class="text-center">
		  <h3 class="text-left">Value Dispatched</h3>
		  <div id="drcValue" class="piechart">
			<span>
				$1,149,627
			</span>
		  </div>
		</div>
	  </div>

	  <div class="center">

		<div>
		  <h3>Types of Cargo (% of total weight dispatched)</h3>
		  <div id="yemenCargo" class="cargo"></div>
		</div>


	  </div >
	  
<p>

</p>

<p>

</p>

<p>

</p>
<div class='center'>
	  <img src="images/donors.jpg" alt="Donors" style="height: 120px !important; width: auto;">

	  </div>



	</div>


  </section>